In [1]:
import pandas as pd
import numpy as np
import lxml

In [2]:
Accidentes= pd.read_csv("PI03-Analytics\AccidentesAviones.csv") # Se importa dataset provisto.
Accidentes

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,5003,"March 28, 2021",1835,"Near Butte, Alaska",Soloy Helicopters,?,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,4598,6,5,1,5,4,1,0,The sightseeing helicopter crashed after missi...
5004,5004,"May 21, 2021",1800,"Near Kaduna, Nigeria",Military - Nigerian Air Force,?,?,Beechcraft B300 King Air 350i,NAF203,FL-891,11,7,4,11,7,4,0,"While on final approach, in poor weather condi..."
5005,5005,"June 10, 2021",0800,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,?,Naypyidaw - Anisakan,Beechcraft 1900D,4610,E-325,14,12,2,12,11,1,0,The plane was carrying military personnel and ...
5006,5006,"July 04, 2021",11:30,"Patikul, Sulu, Philippines",Military - Philippine Air Force,?,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,5125,96,88,8,50,?,?,3,"While attempting to land at Jolo Airport, the ..."
5007,5007,"July 06, 2021",1500,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...

In [3]:
Accidentes.info() # No se observan datos nulos. Pero esto porque todas las celdas tienen datos de rellenos, 
# que muchos no tienen sentido, por ejemplo signos de preguntas, en alusión a que no está el dato necesario. 
# Por lo tanto se considerarán como NaN.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5008 non-null   int64
 1   fecha                   5008 non-null   object
 2   HORA declarada          5008 non-null   object
 3   Ruta                    5008 non-null   object
 4   OperadOR                5008 non-null   object
 5   flight_no               5008 non-null   object
 6   route                   5008 non-null   object
 7   ac_type                 5008 non-null   object
 8   registration            5008 non-null   object
 9   cn_ln                   5008 non-null   object
 10  all_aboard              5008 non-null   object
 11  PASAJEROS A BORDO       5008 non-null   object
 12  crew_aboard             5008 non-null   object
 13  cantidad de fallecidos  5008 non-null   object
 14  passenger_fatalities    5008 non-null   object
 15  crew_fatalities         5008 non-null   object
 16  ground                  5008 non-null   object
 17  summary                 5008 non-null   object
dtypes: int64(1), object(17)
memory usage: 704.4+ KB

In [4]:
Accidentes["fecha"].describe # Los datos están ordenados por fechas, observando que el más antiguo es el 17 de Septiembre de 1908
# Y el más reciente el día 6 de Julio de 2021.

<bound method NDFrame.describe of 0       September 17, 1908
1       September 07, 1909
2            July 12, 1912
3          August 06, 1913
4       September 09, 1913
               ...
5003        March 28, 2021
5004          May 21, 2021
5005         June 10, 2021
5006         July 04, 2021
5007         July 06, 2021
Name: fecha, Length: 5008, dtype: object>

In [5]:
accidentes=Accidentes.copy() # Se realiza una copia del DataFrame

In [6]:
accidentes.sample() # Se toma una fila al azar del dataset para observar.

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
3554,3554,"June 07, 1989",0427,"Near Paramaribo, Surinam",Surinam Airways,764,Paramaribo - Zanderij,McDonnell Douglas DC-8 Super 62,N1809E,46107/498,187,178,9,176,167,9,0,The aircraft hit a tree and crashed during a t...

In [7]:
accidentes.drop(["Unnamed: 0"], axis=1, inplace=True) # Se elimina la columna "Unnamed: 0" ya que muestra la misma información que el "index".
accidentes

,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,"March 28, 2021",1835,"Near Butte, Alaska",Soloy Helicopters,?,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,N351SH,4598,6,5,1,5,4,1,0,The sightseeing helicopter crashed after missi...
5004,"May 21, 2021",1800,"Near Kaduna, Nigeria",Military - Nigerian Air Force,?,?,Beechcraft B300 King Air 350i,NAF203,FL-891,11,7,4,11,7,4,0,"While on final approach, in poor weather condi..."
5005,"June 10, 2021",0800,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,?,Naypyidaw - Anisakan,Beechcraft 1900D,4610,E-325,14,12,2,12,11,1,0,The plane was carrying military personnel and ...
5006,"July 04, 2021",11:30,"Patikul, Sulu, Philippines",Military - Philippine Air Force,?,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,5125,5125,96,88,8,50,?,?,3,"While attempting to land at Jolo Airport, the ..."
5007,"July 06, 2021",1500,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,RA-26085,12310,28,22,6,28,22,6,0,The passenger plane crashed into the top of a ...

In [8]:
accidentes["flight_no"].value_counts() # Se observa que esta columna no aporta información significativa, ya que la gran mayoría de datos 
# son signos de preguntas o guiones.

?        3682
-          36
1          11
101         9
6           7
         ...
138         1
124         1
1-10        1
4422        1
SJ182       1
Name: flight_no, Length: 893, dtype: int64

In [9]:
accidentes["fecha"].value_counts()  # Días que más accidente hubo.

August 31, 1988       4
September 11, 2001    4
February 23, 1945     3
December 28, 1946     3
August 27, 1992       3
                     ..
December 04, 1958     1
December 23, 1958     1
December 24, 1958     1
December 26, 1958     1
July 06, 2021         1
Name: fecha, Length: 4577, dtype: int64

In [13]:
accidentes["fecha"].value_counts().head(8)

August 31, 1988       4
September 11, 2001    4
February 23, 1945     3
December 28, 1946     3
August 27, 1992       3
September 03, 1978    3
October 11, 1985      3
July 19, 1989         3
Name: fecha, dtype: int64

In [14]:
# Convertir fechas a formato fecha y hora
accidentes["fecha"] =accidentes['fecha'] = pd.to_datetime(accidentes['fecha'])

In [15]:
accidentes["fecha"].max() # Ver la fecha máxima

Timestamp('2021-07-06 00:00:00')

In [16]:
accidentes["fecha"].min() # Ver la fecha mínima

Timestamp('1908-09-17 00:00:00')

In [17]:
accidentes["fecha"].loc[accidentes["fecha"]=="1988-08-31"] # Encontrar las fechas en la que más accidentes hubo.

3508   1988-08-31
3509   1988-08-31
3510   1988-08-31
3511   1988-08-31
Name: fecha, dtype: datetime64[ns]

In [18]:
accidentes.iloc[3508:3512] # Buscar particularidades.

,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
3508,1988-08-31,?,"Merida, Mexico",Aerocaribe,?,?,Convair CV-240,XA-HUL,229,20,?,?,1,?,?,0,Crashed while taking off.
3509,1988-08-31,0919,"Kowloon Bay, Hong Kong",CAAC,301,Guangzhou - Hong Kong,Hawker Siddeley HS-121 Trident 2E,B-2218,2159,89,78,11,7,1,6,0,The right outboard flap of the plane hit the a...
3510,1988-08-31,0901,"Dallas, Texas",Delta Air Lines,1141,"Dallas/Fort Worth, TX - Salt Lake City, UT",Boeing B-727-232 Adv,N473DA,20750/992,108,101,7,14,12,2,0,The aircraft stalled and crashed during takeof...
3511,1988-08-31,1000,"Cerro de la Calera, Mexico",Transporte Aereo Federal,?,Uruapan - Lazro,Embraer 110P1 Bandeirante,XC-COX,110-192,20,18,2,20,18,2,0,The plane disappeared after taking off from Ur...

In [19]:
accidentes["fecha"].loc[accidentes["fecha"]=="2001-09-11"] # Encontrar las fechas en las que más accidentes hubo.

4345   2001-09-11
4346   2001-09-11
4347   2001-09-11
4348   2001-09-11
Name: fecha, dtype: datetime64[ns]

In [20]:
accidentes.iloc[4345:4349] # Encontrar particularidades. Son todos los vuelos del atentado del 11 de septiembre de 2001, 
# en el que fallecieron todas las personas. Además en el feature "ground" se puede observar que son muertes asociadas a dicho accidente.
# los dos que partieron desde New York (números 4346 y 4347) son las que impactaron en las torres gemelas generando además de la muerte de todos 
# los tripulantes, la muerte de 2.750 personas, que se encontraban en las torres.

,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
4345,2001-09-11,0945,"Arlington, Virginia.",American Airlines,77,Washington D.C. - Los Angeles,Boeing B-757-223,N644AA,24602/365,64,58,6,64,58,6,125,The aircraft was hijacked after taking off fro...
4346,2001-09-11,0847,"New York City, New York",American Airlines,11,Boston - Los Angeles,Boeing 767-223ER,N334AA,22332/169,92,81,11,92,81,11,2750,The aircraft was hijacked shortly after it lef...
4347,2001-09-11,0903,"New York City, New York",United Air Lines,175,Boston - Los Angeles,Boeing B-767-222,N612UA,21873/41,65,56,9,65,56,9,2750,The aircraft was hijacked shortly after it lef...
4348,2001-09-11,1003,"Shanksville, Pennsylvania",United Air Lines,93,Newark - San Francisco,Boeing B-757-222,N591UA,28142/718,44,37,7,44,37,7,0,The aircraft was hijacked after taking off fro...

In [21]:
accidentes["fecha"].loc[accidentes["fecha"]=="1945-02-23"] # Encontrar las fechas en las que más accidentes hubo.

776   1945-02-23
777   1945-02-23
778   1945-02-23
Name: fecha, dtype: datetime64[ns]

In [22]:
accidentes.iloc[776:779] # Encontrar particularidades. Dos son militares.

,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
776,1945-02-23,?,"Snezka mountains, Poland",Military - German Army,?,?,Junkers 52/3m,4V+DR,6820,8,8,0,8,8,0,0,Crashed in the Snezka mountains during an ice ...
777,1945-02-23,0225,"Marion, Virginia",American Airlines,9,New York City - Los Angeles,Douglas DC-3,NC18142,2138,22,19,3,17,15,2,0,The aircraft flew into the summit of Glade mou...
778,1945-02-23,?,"Casablanca, Morocco",Military - United States Army Air Force,?,?,Curtiss C-46A,42-107377,27064,30,26,4,13,13,0,0,?

In [23]:
accidentes["fecha"].loc[accidentes["fecha"]=="1946-12-28"] # Encontrar las fechas en las que más accidentes hubo.

925   1946-12-28
926   1946-12-28
927   1946-12-28
Name: fecha, dtype: datetime64[ns]

In [24]:
accidentes.iloc[925:928] # Buscar particularidades.

,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
925,1946-12-28,?,"Walshville, Illinois",Kansas City Southern Skyways,?,"Flint, MI - Washville, IL",Douglas C-47A,NC58024,9378,2,0,2,2,0,2,0,The cargo plane crashed after both engines fai...
926,1946-12-28,02:09Z,"Near Shannon, Ireland",Trans Continental and Western Air,6963,Paris - Shannon,Lockheed 049 Consellation,NC86505,2026,23,14,9,13,9,4,0,Crashed 1 mile from the airport on an island s...
927,1946-12-28,09:19,"Michigan City, Indiana",American Airlines,2207,Buffalo - Chicago,Douglas DC-3 (C-50A-DO),N15577,4805,21,18,3,2,0,2,0,Crashed after loosing power in both engines du...

In [25]:
accidentes["fecha"].loc[accidentes["fecha"]=="1992-08-27"] # Encontrar las fechas en la que más accidentes hubo.

3782   1992-08-27
3783   1992-08-27
3784   1992-08-27
Name: fecha, dtype: datetime64[ns]

In [26]:
accidentes.iloc[3782:3785]

,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
3782,1992-08-27,?,"Near Iquitos, Peru",Military - Peruvian Air Force - TANS,?,Estrecho - Iquitos,de Havilland Canada DHC-6 Twin Otter 300,FAP304,316,41,38,3,8,6,2,0,"While en route, one of the aircraft's engines ..."
3783,1992-08-27,1020,"Gimli, Manitoba, Canada",NewCal Aviation,?,Test,de Havilland Canada DHC-4T Caribou,N400NC,240,3,0,3,3,0,3,0,The aircraft took off at too steep of an angle...
3784,1992-08-27,2244,"Near Ivanovo, Russia",Aeroflot,2808,Donetsk - Ivanovo,Tupolev TU-134A,CCCP-65058,49868/3910,84,77,7,84,77,7,0,The aircraft crashed 1.5 miles from the airpor...

In [27]:
accidentes["fecha"].loc[accidentes["fecha"]=="1978-09-03"] # Encontrar las fechas en la que más accidentes hubo.

2978   1978-09-03
2979   1978-09-03
2980   1978-09-03
Name: fecha, dtype: datetime64[ns]

In [28]:
accidentes.iloc[2978:2981]

,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
2978,1978-09-03,?,"Conakry, Guinea",Air Guinee,?,Conakry - Bamako,Ilyushin IL-18,3X-GAX,187009803,17,9,8,15,8,7,0,Crashed in a swamp.
2979,1978-09-03,?,"Coal Harbour, BC, Canada",AirWest Airlines,?,Victoria harbor - Victoria Harbor Water Aerodome,de havilland Canada Twin Otter 200,C-FAIV,215,13,11,2,11,9,2,0,"While on approach, the aircraft yawed to the l..."
2980,1978-09-03,1730,"Near Kariba, Rhodesia (Zimbabwe)",Air Rhodesia,825,Kariba - Salisbury,Vickers Viscount 782D,VP-WAS,297,56,52,4,38,34,4,0,The aircraft took off from from Kariba Airpor...

In [29]:
accidentes["fecha"].loc[accidentes["fecha"]=="1985-10-11"] # Encontrar las fechas en la que más accidentes hubo.

3354   1985-10-11
3355   1985-10-11
3356   1985-10-11
Name: fecha, dtype: datetime64[ns]

In [30]:
accidentes.iloc[3354:3357]

,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
3354,1985-10-11,1009,"Near Kutayissi, USSR",Aeroflot,F-7,Kutaisi - Poti,Yakovlev YAK-40,CCCP-87803,9230923,14,10,4,14,10,4,0,Crashed into a mountain slope after taking off...
3355,1985-10-11,?,"Near Beni, Bolivia",Sabeni,?,Beni - La Paz,Curtiss C-46D,CP-1593,32936,2,0,2,2,0,2,0,The cargo plane crashed into mountains while e...
3356,1985-10-11,2140,"Homer City, Pennsylvania",Mountain Air Cargo,?,State College - Pittsburgh,de Havilland Canada DHC-6 Twin Otter 200,N3257,192,1,0,1,1,0,1,0,The cargo plane struck high ground while en ro...

In [31]:
accidentes["fecha"].loc[accidentes["fecha"]=="1989-07-19"] # Encontrar las fechas en la que más accidentes hubo.

3563   1989-07-19
3564   1989-07-19
3565   1989-07-19
Name: fecha, dtype: datetime64[ns]

In [32]:
accidentes.iloc[3563:3566]

,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
3563,1989-07-19,0717,"Glen Burnie, Maryland",Air Taxi - Centre Airlines Inc.,?,"Baltimore, MD - Winchester, VA",Beech E18S,N138JR,?,5,4,1,2,2,0,0,Shortly after departing from runway 15l at the...
3564,1989-07-19,1102,"Talourow Island, USSR",Aeroflot,?,Observation flight out of Cape Schmidt,Antonov AN-26,CCCP-26685,8805,10,6,4,10,6,4,0,Crashed into costal cliffs while on an ice obs...
3565,1989-07-19,1600,"Sioux City, Iowa",United Air Lines,232,"Denver, CO - Chicago, IL",McDonnell Douglas DC-10-10,N1819U,46618/118,298,287,11,112,111,1,0,Catastrophic failure of the No. 2 (rear) engin...

In [33]:
accidentes["anio"]=accidentes["fecha"].dt.year #  Crear nueva columna con el año de cada accidente

In [34]:
accidentes["anio"].value_counts().head(15) # Cantidad de accidentes por año.

1946    88
1989    83
1947    82
1948    78
1962    78
1972    77
1945    75
1951    75
1994    74
1970    73
1950    71
1953    70
1960    70
1969    69
1991    69
Name: anio, dtype: int64

In [35]:
accidentes.iloc[3530]

fecha                                                   1988-12-10 00:00:00
HORA declarada                                                         2000
Ruta                                                            Afghanistan
OperadOR                             Military - Afghan Republican Air Force
flight_no                                                                 ?
route                                                         Kabul - Khost
ac_type                                                       Antonov AN-32
registration                                                              ?
cn_ln                                                                     ?
all_aboard                                                               25
PASAJEROS A BORDO                                                         ?
crew_aboard                                                               ?
cantidad de fallecidos                                                   25
passenger_fatalities                                                      ?
crew_fatalities                                                           ?
ground                                                                    0
summary                   Shot down by a Pakistani jet fighter while en ...
anio                                                                   1988
Name: 3530, dtype: object

In [36]:
accidentes["mes"]=accidentes["fecha"].dt.month # Crear nueva columna con el mes de cada accidente.

In [37]:
accidentes["mes"].value_counts() # Cantidad de accidentes por mes.

12    496
1     460
9     451
8     451
11    439
10    427
3     426
7     425
6     366
2     360
5     359
4     348
Name: mes, dtype: int64

In [38]:
accidentes["Ruta"].value_counts()

Moscow, Russia                                         16
Manila, Philippines                                    15
New York, New York                                     14
Sao Paulo, Brazil                                      13
Cairo, Egypt                                           13
                                                       ..
NAS Argentia, Placentia Bay,  Newfoundland,  Canada     1
Anzio, Italy                                            1
Nipe Bay, Cuba                                          1
Near Roccatamburo di Poggiodomo, Italy                  1
Palana, Russia                                          1
Name: Ruta, Length: 4125, dtype: int64

In [39]:
accidentes["OperadOR"].value_counts() # Mayor cantidad de accidentes por operador/aerolineas.

Aeroflot                            253
Military - U.S. Air Force           141
Air France                           74
Deutsche Lufthansa                   63
United Air Lines                     44
                                   ...
Sierra Pacific Airlines               1
Pathet Lao Airlines                   1
Military - West German Air Force      1
Cessnyca                              1
Kamchatka Aviation Enterprise         1
Name: OperadOR, Length: 2268, dtype: int64

In [40]:
accidentes["route"].value_counts() # Rutas voladas antes del accidente donde más accidentes hay. ? /Entrenamiento / Turismo / Vuelo de Prueba / Sao Paulo - Rio de Janeiro (ruta peligrosa)

?                                       762
Training                                 96
Sightseeing                              31
Test flight                              23
Sao Paulo - Rio de Janeiro                7
                                       ...
Temuco - Santiago                         1
Hong Kong - Tainan AFB                    1
Fort Lamy, Chad - Marseilles, France      1
McChord - Lawton                          1
Petropavlovsk - Palana                    1
Name: route, Length: 3839, dtype: int64

In [41]:
accidentes["ac_type"].value_counts() # Tipo de aviones.

Douglas DC-3                                333
de Havilland Canada DHC-6 Twin Otter 300     81
Douglas C-47A                                70
Douglas C-47                                 64
Douglas DC-4                                 41
                                           ...
Vickers Viscount 759D                         1
H-21B                                         1
Avro 685 York C1                              1
Piper PA-24-250 Comanche                      1
Antonov An 26B-100                            1
Name: ac_type, Length: 2469, dtype: int64

In [42]:
accidentes["registration"].value_counts() # La matrícula de aviones. Las primeras letras generalmente corresponden a prefijos y codigos del pais.
# Luego seguido por la identidad de ese avión.

?             272
49              3
SU-AFK          2
2               2
19              2
             ...
CCCP-61663      1
EC-ANR          1
N1301N          1
CS-THB          1
RA-26085        1
Name: registration, Length: 4701, dtype: int64

In [43]:
accidentes.replace(to_replace="?",value="SinDatos",inplace=True) # Reemplazar todos los "?" del DF por "SinDatos"

In [44]:
accidentes["cn_ln"].value_counts() #  Número de construcción o de serie / Número de línea o de fuselaje.

SinDatos    667
1             8
4             8
125           7
229           6
           ...
068           1
1142          1
43559         1
10182         1
12310         1
Name: cn_ln, Length: 3908, dtype: int64

In [45]:
accidentes["all_aboard"].value_counts() # Todos a bordo. Entre pasajeros y tripulantes.

3      280
2      246
4      202
5      190
10     179
      ...
256      1
524      1
329      1
274      1
190      1
Name: all_aboard, Length: 245, dtype: int64

In [46]:
accidentes["all_aboard"].replace(to_replace="SinDatos",value=0,inplace=True) # Se reemplaza en este caso "SinDatos" por el valor 0.

In [47]:
accidentes["all_aboard"]=accidentes["all_aboard"].astype(dtype=int,copy=False,errors="raise") # Se pasa el formato a integer.

In [48]:
accidentes["all_aboard"].sum() # Cantidad total de pasajeros y tripulantes que volaron

155326

In [49]:
accidentes["PASAJEROS A BORDO"].value_counts() # Pasajeros a bordo, distinto del anterior. Sin tripulantes.

0           869
SinDatos    221
4           170
2           162
5           140
           ...
172           1
509           1
191           1
307           1
184           1
Name: PASAJEROS A BORDO, Length: 235, dtype: int64

In [50]:
accidentes["PASAJEROS A BORDO"].replace(to_replace="SinDatos",value=0,inplace=True) # Reemplazar "SinDatos" por ceros

In [51]:
accidentes["PASAJEROS A BORDO"]=accidentes["PASAJEROS A BORDO"].astype(dtype=int,copy=False,errors="raise") # Pasar tipo de dato a integer.

In [52]:
accidentes["PASAJEROS A BORDO"].sum()  # Cantidad total de pasajeros a bordo.

128662

In [53]:
accidentes["crew_aboard"].value_counts() # Tripulación a bordo del avión.

3           954
2           828
4           694
1           535
5           514
6           375
7           244
SinDatos    219
8           173
9           115
10           94
11           66
12           39
14           30
13           26
15           20
16           13
19           10
20            9
17            7
0             7
18            7
23            7
22            5
21            4
25            4
27            1
30            1
31            1
61            1
49            1
83            1
43            1
41            1
33            1
Name: crew_aboard, dtype: int64

In [54]:
accidentes["crew_aboard"].replace(to_replace="SinDatos",value=0,inplace=True) # Reemplazar "SinDatos" por ceros

In [55]:
accidentes["crew_aboard"]=accidentes["crew_aboard"].astype(dtype=int,copy=False,errors="raise") # Pasar tipo de dato a integer.

In [56]:
accidentes["crew_aboard"].sum() # Total de tripulación a bordo de los aviones accidentados.

21644

In [57]:
accidentes["cantidad de fallecidos"].value_counts()

1      384
2      377
3      363
4      242
5      235
      ...
259      1
144      1
171      1
223      1
224      1
Name: cantidad de fallecidos, Length: 200, dtype: int64

In [58]:
accidentes["cantidad de fallecidos"].replace(to_replace="SinDatos",value=0,inplace=True) # Reemplazar "SinDatos" por ceros

In [59]:
accidentes["cantidad de fallecidos"]=accidentes["cantidad de fallecidos"].astype(dtype=int,copy=False,errors="raise") # Pasar tipo de dato a integer.

In [60]:
accidentes["cantidad de fallecidos"].sum() # Cantidad de fallecidos.

111470

In [61]:
accidentes["passenger_fatalities"].value_counts() # Fatalidades/ muertes de pasajeros

0           1040
1            308
2            263
SinDatos     235
3            193
            ...
248            1
172            1
140            1
278            1
217            1
Name: passenger_fatalities, Length: 191, dtype: int64

In [62]:
accidentes["passenger_fatalities"].replace(to_replace="SinDatos",value=0,inplace=True) # Reemplazar "SinDatos" por ceros

In [63]:
accidentes["passenger_fatalities"]=accidentes["passenger_fatalities"].astype(dtype=int,copy=False,errors="raise") # Pasar tipo de dato a integer.

In [64]:
accidentes["passenger_fatalities"].sum() # Cantidad de fallecidos pasajeros.

90404

In [65]:
accidentes["crew_fatalities"].value_counts() # Fatalidades / muertes de la tripulación.

2           892
3           824
1           771
4           591
5           402
0           400
6           273
SinDatos    235
7           171
8           130
9            87
10           68
11           42
13           24
12           24
14           23
15           11
17            6
23            6
22            5
19            5
16            5
20            3
18            3
25            2
21            2
43            1
27            1
33            1
Name: crew_fatalities, dtype: int64

In [66]:
accidentes["crew_fatalities"].replace(to_replace="SinDatos",value=0,inplace=True) # Reemplazar "SinDatos" por ceros

In [67]:
accidentes["crew_fatalities"]=accidentes["crew_fatalities"].astype(dtype=int,copy=False,errors="raise") # Pasar tipo de dato a integer.

In [68]:
accidentes["crew_fatalities"].sum() # Totales de muertes en tripulacion

17122

In [69]:
accidentes["ground"].value_counts() # Total de muertes en tierra . Es decir muertes "indirectas" al accidente aéreo. Por ejemplo en el impacto del avion.

0           4716
1             63
SinDatos      44
2             34
3             21
4             16
5             12
7             10
8              9
10             6
6              6
14             5
13             4
11             4
19             4
22             4
20             3
24             3
44             3
12             3
15             2
35             2
125            2
30             2
25             2
2750           2
40             1
50             1
85             1
78             1
45             1
39             1
18             1
225            1
49             1
9              1
31             1
32             1
113            1
71             1
33             1
23             1
87             1
17             1
29             1
16             1
36             1
58             1
37             1
63             1
53             1
47             1
Name: ground, dtype: int64

In [70]:
accidentes["ground"].replace(to_replace="SinDatos",value=0,inplace=True) # Reemplazar "SinDatos" por ceros

In [71]:
accidentes["ground"]=accidentes["ground"].astype(dtype=int,copy=False,errors="raise") # Pasar tipo de dato a integer.

In [72]:
accidentes["ground"].sum() #8.530 muertes. Muchos relacionados a las Torres gemelas.

8530

In [73]:
accidentes["summary"].value_counts() # Resumen. Se estrelló en circunstancias desconocidas / Se estrelló en el camino / Al intentar aterrizar / Durante el despegue.

SinDatos                                                                                                                                                                                                                                                                                59
Crashed under unknown circumstances.                                                                                                                                                                                                                                                     9
Crashed while en route.                                                                                                                                                                                                                                                                  8
Crashed while attempting to land.                                                                                                                                                                                                                                                        7
Crashed during takeoff.                                                                                                                                                                                                                                                                  6
                                                                                                                                                                                                                                                                                        ..
The aircraft crashed 1,450 feet short of the runway while on approach in heavy fog. Poor judgement and technique by the pilot during approach in poor weather conditions. Nantucket Airport was not equipped with technology to permit insturment landings in such foggy conditions.     1
The aircraft crashed into the sea while en route from Shannon to Gander, Newfoundland. Possible overspeeding of outer propeller.                                                                                                                                                         1
Ditched into the sea near Izu Island appoximately 1 hour after taking off after experiencing engine trouble.                                                                                                                                                                             1
Crashed on approach 10 minutes from the airport. Cause unknown.                                                                                                                                                                                                                          1
The passenger plane crashed into the top of a cliff while attempting to land in inclement weather. The debris fell into the sea. Contact was lost with the plane 10 minutes before it was to land.                                                                                       1
Name: summary, Length: 4858, dtype: int64

In [74]:
accidentes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fecha                   5008 non-null   datetime64[ns]
 1   HORA declarada          5008 non-null   object
 2   Ruta                    5008 non-null   object
 3   OperadOR                5008 non-null   object
 4   flight_no               5008 non-null   object
 5   route                   5008 non-null   object
 6   ac_type                 5008 non-null   object
 7   registration            5008 non-null   object
 8   cn_ln                   5008 non-null   object
 9   all_aboard              5008 non-null   int32
 10  PASAJEROS A BORDO       5008 non-null   int32
 11  crew_aboard             5008 non-null   int32
 12  cantidad de fallecidos  5008 non-null   int32
 13  passenger_fatalities    5008 non-null   int32
 14  crew_fatalities         5008 non-null   int32
 15  ground                  5008 non-null   int32
 16  summary                 5008 non-null   object
 17  anio                    5008 non-null   int64
 18  mes                     5008 non-null   int64
dtypes: datetime64[ns](1), int32(7), int64(2), object(9)
memory usage: 606.6+ KB

In [75]:
accidentes.columns=["Fecha","HoraDeclarada","LugarAccidente","Operador","NroVuelo","Ruta","TipoAvion","Matricula","NroSerie", "TotalaBordo",
                    "PasajerosaBordo", "TripulacionaBordo", "CantidadFallecidos","PasajerosFallecidos","TripulacionFallecida", "MuertesIndirectas","Resumen",
                    "Anio","Mes"] # Cambiar nombre a las columnas del DataFrame.

In [76]:
accidentes["CantidadFallecidos"].loc[accidentes["CantidadFallecidos"]>500] # Encontrar los vuelos con más fallecidos (más de 500) dentro del vuelo.

2902    583
3341    520
Name: CantidadFallecidos, dtype: int32

In [77]:
accidentes["MuertesIndirectas"].loc[accidentes["MuertesIndirectas"]>200] # Encontrar los vuelos con más muertes indirectas (mas de 200 ), 
# por impacto en el accidente. Se observa que dos de ellos son los dos impactados contra las torres gemelas (en conjunto son 2750 muertes).

4004     225
4346    2750
4347    2750
Name: MuertesIndirectas, dtype: int32

In [78]:
accidentes.iloc[2902] # Vuelo con más muertes . El 27 de marzo de 1977. Fallecieron 583 personas y sobrevivieron solo 61 personas, 
# entre ellos 54 pasajeros y 7 tripulantes.

Fecha                                                 1977-03-27 00:00:00
HoraDeclarada                                                        1707
LugarAccidente                                   Tenerife, Canary Islands
Operador                                 Pan American World Airways / KLM
NroVuelo                                                        1736/4805
Ruta                        Tenerife - Las Palmas / Tenerife - Las Palmas
TipoAvion                            Boeing B-747-121 / Boeing B-747-206B
Matricula                                                   N736PA/PH-BUF
NroSerie                                             19643/11 / 20400/157
TotalaBordo                                                           644
PasajerosaBordo                                                       614
TripulacionaBordo                                                      30
CantidadFallecidos                                                    583
PasajerosFallecidos                                                   560
TripulacionFallecida                                                   23
MuertesIndirectas                                                       0
Resumen                 Both aircraft were diverted to Tenerife becaus...
Anio                                                                 1977
Mes                                                                     3
Name: 2902, dtype: object

In [79]:
accidentes.iloc[3341] # Segundo vuelo con más muertes. Sobrevivieron solo 4 personas. Todos pasajeros.

Fecha                                                 1985-08-12 00:00:00
HoraDeclarada                                                        1856
LugarAccidente                      Mt. Osutaka, near Ueno Village, Japan
Operador                                                  Japan Air Lines
NroVuelo                                                              123
Ruta                                                        Tokyo - Osaka
TipoAvion                                               Boeing B-747-SR46
Matricula                                                          JA8119
NroSerie                                                        20783/230
TotalaBordo                                                           524
PasajerosaBordo                                                       509
TripulacionaBordo                                                      15
CantidadFallecidos                                                    520
PasajerosFallecidos                                                   505
TripulacionFallecida                                                   15
MuertesIndirectas                                                       0
Resumen                 The aircraft suffered an aft pressure bulkhead...
Anio                                                                 1985
Mes                                                                     8
Name: 3341, dtype: object

In [80]:
accidentes.iloc[4346]

Fecha                                                 2001-09-11 00:00:00
HoraDeclarada                                                        0847
LugarAccidente                                    New York City, New York
Operador                                                American Airlines
NroVuelo                                                               11
Ruta                                                 Boston - Los Angeles
TipoAvion                                                Boeing 767-223ER
Matricula                                                          N334AA
NroSerie                                                        22332/169
TotalaBordo                                                            92
PasajerosaBordo                                                        81
TripulacionaBordo                                                      11
CantidadFallecidos                                                     92
PasajerosFallecidos                                                    81
TripulacionFallecida                                                   11
MuertesIndirectas                                                    2750
Resumen                 The aircraft was hijacked shortly after it lef...
Anio                                                                 2001
Mes                                                                     9
Name: 4346, dtype: object

In [81]:
accidentes.iloc[4347] # Vuelos con más muertes en conjunto ya que impactaron a las torres gemelas . El 11 de Septiembre de 2001. 
# Fallecieron los 157 a bordo en ambos vuelos, entre ellos 137 pasajeros y 20 tripulantes (estaban los secuestradores)
# pero en total sumado a todas las personas que estaban en la torre o por causa de la explosión fue de 2.750 muertes.

Fecha                                                 2001-09-11 00:00:00
HoraDeclarada                                                        0903
LugarAccidente                                    New York City, New York
Operador                                                 United Air Lines
NroVuelo                                                              175
Ruta                                                 Boston - Los Angeles
TipoAvion                                                Boeing B-767-222
Matricula                                                          N612UA
NroSerie                                                         21873/41
TotalaBordo                                                            65
PasajerosaBordo                                                        56
TripulacionaBordo                                                       9
CantidadFallecidos                                                     65
PasajerosFallecidos                                                    56
TripulacionFallecida                                                    9
MuertesIndirectas                                                    2750
Resumen                 The aircraft was hijacked shortly after it lef...
Anio                                                                 2001
Mes                                                                     9
Name: 4347, dtype: object

In [82]:
accidentes.iloc[4004] # Tercer vuelo con más muertes "indirectas" generadas. El 8 de enero de 1996, cuando un avión en 
# la República Democrática del Congo después de haber fallado al despegar impactó contra un Mercado Callejero.

Fecha                                                 1996-01-08 00:00:00
HoraDeclarada                                                        1243
LugarAccidente                                            Kinshasa, Zaire
Operador                                                      African Air
NroVuelo                                                         SinDatos
Ruta                                                   Kinshasa - Kahemba
TipoAvion                                                  Antonov AN-32B
Matricula                                                        RA-26222
NroSerie                                                             2301
TotalaBordo                                                             6
PasajerosaBordo                                                         0
TripulacionaBordo                                                       6
CantidadFallecidos                                                      2
PasajerosFallecidos                                                     0
TripulacionFallecida                                                    2
MuertesIndirectas                                                     225
Resumen                 The aircraft failed to gain altitude after tak...
Anio                                                                 1996
Mes                                                                     1
Name: 4004, dtype: object

In [83]:
accidentes.drop(columns=["HoraDeclarada","NroSerie","Matricula","Resumen"],inplace=True) # Se eliminan columnas que no aportan información significativa al criterio del análisis.

In [84]:
accidentes.info() # Se chequean tipos de datos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Fecha                 5008 non-null   datetime64[ns]
 1   LugarAccidente        5008 non-null   object
 2   Operador              5008 non-null   object
 3   NroVuelo              5008 non-null   object
 4   Ruta                  5008 non-null   object
 5   TipoAvion             5008 non-null   object
 6   TotalaBordo           5008 non-null   int32
 7   PasajerosaBordo       5008 non-null   int32
 8   TripulacionaBordo     5008 non-null   int32
 9   CantidadFallecidos    5008 non-null   int32
 10  PasajerosFallecidos   5008 non-null   int32
 11  TripulacionFallecida  5008 non-null   int32
 12  MuertesIndirectas     5008 non-null   int32
 13  Anio                  5008 non-null   int64
 14  Mes                   5008 non-null   int64
dtypes: datetime64[ns](1), int32(7), int64(2), object(5)
memory usage: 450.1+ KB

In [85]:
accidentes

,Fecha,LugarAccidente,Operador,NroVuelo,Ruta,TipoAvion,TotalaBordo,PasajerosaBordo,TripulacionaBordo,CantidadFallecidos,PasajerosFallecidos,TripulacionFallecida,MuertesIndirectas,Anio,Mes
0,1908-09-17,"Fort Myer, Virginia",Military - U.S. Army,SinDatos,Demonstration,Wright Flyer III,2,1,1,1,1,0,0,1908,9
1,1909-09-07,"Juvisy-sur-Orge, France",SinDatos,SinDatos,Air show,Wright Byplane,1,0,1,1,0,0,0,1909,9
2,1912-07-12,"Atlantic City, New Jersey",Military - U.S. Navy,SinDatos,Test flight,Dirigible,5,0,5,5,0,5,0,1912,7
3,1913-08-06,"Victoria, British Columbia, Canada",Private,SinDatos,SinDatos,Curtiss seaplane,1,0,1,1,0,1,0,1913,8
4,1913-09-09,Over the North Sea,Military - German Navy,SinDatos,SinDatos,Zeppelin L-1 (airship),20,0,0,14,0,0,0,1913,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5003,2021-03-28,"Near Butte, Alaska",Soloy Helicopters,SinDatos,Sightseeing Charter,Eurocopter AS350B3 Ecureuil,6,5,1,5,4,1,0,2021,3
5004,2021-05-21,"Near Kaduna, Nigeria",Military - Nigerian Air Force,SinDatos,SinDatos,Beechcraft B300 King Air 350i,11,7,4,11,7,4,0,2021,5
5005,2021-06-10,"Near Pyin Oo Lwin, Myanmar",Military - Myanmar Air Force,SinDatos,Naypyidaw - Anisakan,Beechcraft 1900D,14,12,2,12,11,1,0,2021,6
5006,2021-07-04,"Patikul, Sulu, Philippines",Military - Philippine Air Force,SinDatos,Cagayan de Oro-Lumbia - Jolo,Lockheed C-130H Hercules,96,88,8,50,0,0,3,2021,7
5007,2021-07-06,"Palana, Russia",Kamchatka Aviation Enterprise,251,Petropavlovsk - Palana,Antonov An 26B-100,28,22,6,28,22,6,0,2021,7

A partir de aquí se comienza a complementar Datasets. Se encuentra una página "http://planecrashinfo.com/" que tiene mucha información sobre accidentes aéreos y con distintas particularidades. Desde base de datos similar a ésta obtenida, hasta las ultimas palabras pronunciadas que se tengan registro antes del accidente.

In [ ]:
ErroresControl=pd.read_html("http://www.planecrashinfo.com/CATATC.htm") # Leer e importar archivos desde página web con webscrapping
ErroresControl=ErroresControl[0].drop(0)
ErroresControl

In [ ]:
# Convertir fechas a formato fecha de la normalizacion del dataset accidentes.
ErroresControl[0] = pd.to_datetime(ErroresControl[0])
ErroresControl

,0,1,2,3
1,1947-06-13,"Leesburg, Virginia",Pennsylvania AL,A contributing cause was the faulty clearance ...
2,1948-05-22,"Khabarovsk, Russia",Aeroflot,ATC error.
3,1949-11-01,"Arlington, Virginia",Eastern Air Lines,ATC error.
4,1952-10-05,"Skvoritsy, Russia",Aeroflot,Midair collision with a TC-62 aircraft. ATC er...
5,1958-04-14,"Castel de Fels, Spain",Aviaco,Another aircraft was permitted to takeoff with...
6,1961-07-21,"Shemya, Alaska",Alaska AL,Lack of guidance from air traffic controller d...
7,1965-02-08,"New York, New York",Eastern AL,Placement of the two aircraft on a near head o...
8,1967-03-09,"Urbana, Ohio",Trans World Airlines,ATC systems inadequate to separate controlled ...
9,1969-03-05,"San Juan, Puerto Rico",Prinair,A trainee vectored the aircraft into mountaino...
10,1969-09-09,"Fairland, Indiana",Allegheny AL,Inadequate VFR separation and deficiencies in ...
11,1970-02-06,"Samarkand, USSR",Aeroflot,Misidentification of aircraft by the ATC causi...
12,1971-09-17,Balkan Bulgarian AL,"Rila mountain, Bulgaria",The ATC confused the aircraft with another Tur...
13,1971-12-04,"Raleigh, North Carolina",Eastern AL,Inadequacy of ATC facilities and services in t...
14,1972-01-04,"Plovdiv, Bulgaria",Balkan Bulgarian AL,"While on approach, the aircraft flew into a mo..."
15,1972-05-04,"Bratsk, Russia",Aeroflot,ATC error. Current weather was not passed on t...
16,1972-12-20,"Chicago, Illinois",Delta/North Central,The ATC gave ambiguous instructions to the crew.
17,1973-07-31,"Boston, Massachusetts",Delta Air Lines,Poor positioning of the aircraft for an approa...
18,1974-12-01,"Berryville, Virginia",Trans World Airlines,Lack of clarity in ATC procedures.
19,1975-03-20,"Quilcene, Washington",U.S. Air Force,Faulty clearance by the ATC after misidentifyi...
20,1974-12-04,"Irkutsk, Russia",Aeroflot,"ATC error, negligence in operations. Midair co..."
21,1976-09-09,"Adler, Russia",Aeroflot / Aeroflot,Violation of separation rules.
22,1976-09-10,"Hrvatska, Yugoslavia",Inex Adria Aviopromet / British Airways,"ATC error, negligence in operations. Midair co..."
23,1978-02-11,"Cranbrook, BC",Pacific Western AL,Estimated time of arrival given by Calgary ATC...
24,1979-08-11,"Dneprodzerzhinsk, USSR",Aeroflot,Separation error by the ATC causing a midair c...
25,1979-09-14,"Sarroch, Italy",Aero Transporti Italiani,Inadequate ATC assistance.
26,1981-08-24,"Zavitinsk, Russia",Russian Air Force,Poor communication between civilian and milita...
27,1983-04-11,"Leninakan, Russia",Aeroflot,ATC procedural error in not identifying the pl...
28,1983-04-19,"Keninakan, Russia",Aeroflot,ATC procedural error in not identifying the pl...
29,1987-03-06,Aeroflot,"Almaty, Kazakhstan",The ATC didn't monitor the plane for at least ...
30,1989-02-18,"Kuala Lumpur, Malaysia",Flying Tiger AL,Non-standard phraseology used by Kuala Lumpur ...
31,1991-02-01,"Los Angeles, California",USAir/Skywest,ATC cleared a plane to land while the runway w...
32,1992-01-20,"Strasbourg, France",Air Inter,The plane was slightly off course due to ATC e...
33,1995-09-22,"Ancorage, Alaska",U.S. Air Force,ATC did not worn about birds in the area.
34,1996-11-07,"Lagos, Nigeria",Aviation Dev. Corp.,The controller thought he had cleared to aircr...
35,1997-09-26,"Buah Nabar, Indonesia",Garuda Indonesian AL,ATC error in directing the plane in the wrong ...
36,1999-11-12,"Pristina, Kosovo",UN Charter,Improper tracking by the military ATC.
37,2000-10-25,"Batumi,Georgia",Russian Air Force,ATC error.
38,2002-07-01,"Uberlinger, Germany",Bashkirian AL / DHL,Conflicting information give to pilot by ATC a...
39,1995-03-31,"Balotesti, Romania",Trans. Aeriene Rom.,The captain was incapacitated shortly after ta...
40,2000-09-04,"Near Burketown, Australia",Central Air,Incapacitation of the captain due to depressur...
41,2005-08-14,"Grammatikos, Greece",Helios Airways,Pressurization failure incapacitated the entir...

In [ ]:
ErroresControl.columns=["Fecha","LugarAccidente","Operador","Resumen"] # Normalizar las columnas con las que ya se encuentran en el dataset.
ErroresControl

,Fecha,LugarAccidente,Operador,Resumen
1,1947-06-13,"Leesburg, Virginia",Pennsylvania AL,A contributing cause was the faulty clearance ...
2,1948-05-22,"Khabarovsk, Russia",Aeroflot,ATC error.
3,1949-11-01,"Arlington, Virginia",Eastern Air Lines,ATC error.
4,1952-10-05,"Skvoritsy, Russia",Aeroflot,Midair collision with a TC-62 aircraft. ATC er...
5,1958-04-14,"Castel de Fels, Spain",Aviaco,Another aircraft was permitted to takeoff with...
6,1961-07-21,"Shemya, Alaska",Alaska AL,Lack of guidance from air traffic controller d...
7,1965-02-08,"New York, New York",Eastern AL,Placement of the two aircraft on a near head o...
8,1967-03-09,"Urbana, Ohio",Trans World Airlines,ATC systems inadequate to separate controlled ...
9,1969-03-05,"San Juan, Puerto Rico",Prinair,A trainee vectored the aircraft into mountaino...
10,1969-09-09,"Fairland, Indiana",Allegheny AL,Inadequate VFR separation and deficiencies in ...
11,1970-02-06,"Samarkand, USSR",Aeroflot,Misidentification of aircraft by the ATC causi...
12,1971-09-17,Balkan Bulgarian AL,"Rila mountain, Bulgaria",The ATC confused the aircraft with another Tur...
13,1971-12-04,"Raleigh, North Carolina",Eastern AL,Inadequacy of ATC facilities and services in t...
14,1972-01-04,"Plovdiv, Bulgaria",Balkan Bulgarian AL,"While on approach, the aircraft flew into a mo..."
15,1972-05-04,"Bratsk, Russia",Aeroflot,ATC error. Current weather was not passed on t...
16,1972-12-20,"Chicago, Illinois",Delta/North Central,The ATC gave ambiguous instructions to the crew.
17,1973-07-31,"Boston, Massachusetts",Delta Air Lines,Poor positioning of the aircraft for an approa...
18,1974-12-01,"Berryville, Virginia",Trans World Airlines,Lack of clarity in ATC procedures.
19,1975-03-20,"Quilcene, Washington",U.S. Air Force,Faulty clearance by the ATC after misidentifyi...
20,1974-12-04,"Irkutsk, Russia",Aeroflot,"ATC error, negligence in operations. Midair co..."
21,1976-09-09,"Adler, Russia",Aeroflot / Aeroflot,Violation of separation rules.
22,1976-09-10,"Hrvatska, Yugoslavia",Inex Adria Aviopromet / British Airways,"ATC error, negligence in operations. Midair co..."
23,1978-02-11,"Cranbrook, BC",Pacific Western AL,Estimated time of arrival given by Calgary ATC...
24,1979-08-11,"Dneprodzerzhinsk, USSR",Aeroflot,Separation error by the ATC causing a midair c...
25,1979-09-14,"Sarroch, Italy",Aero Transporti Italiani,Inadequate ATC assistance.
26,1981-08-24,"Zavitinsk, Russia",Russian Air Force,Poor communication between civilian and milita...
27,1983-04-11,"Leninakan, Russia",Aeroflot,ATC procedural error in not identifying the pl...
28,1983-04-19,"Keninakan, Russia",Aeroflot,ATC procedural error in not identifying the pl...
29,1987-03-06,Aeroflot,"Almaty, Kazakhstan",The ATC didn't monitor the plane for at least ...
30,1989-02-18,"Kuala Lumpur, Malaysia",Flying Tiger AL,Non-standard phraseology used by Kuala Lumpur ...
31,1991-02-01,"Los Angeles, California",USAir/Skywest,ATC cleared a plane to land while the runway w...
32,1992-01-20,"Strasbourg, France",Air Inter,The plane was slightly off course due to ATC e...
33,1995-09-22,"Ancorage, Alaska",U.S. Air Force,ATC did not worn about birds in the area.
34,1996-11-07,"Lagos, Nigeria",Aviation Dev. Corp.,The controller thought he had cleared to aircr...
35,1997-09-26,"Buah Nabar, Indonesia",Garuda Indonesian AL,ATC error in directing the plane in the wrong ...
36,1999-11-12,"Pristina, Kosovo",UN Charter,Improper tracking by the military ATC.
37,2000-10-25,"Batumi,Georgia",Russian Air Force,ATC error.
38,2002-07-01,"Uberlinger, Germany",Bashkirian AL / DHL,Conflicting information give to pilot by ATC a...
39,1995-03-31,"Balotesti, Romania",Trans. Aeriene Rom.,The captain was incapacitated shortly after ta...
40,2000-09-04,"Near Burketown, Australia",Central Air,Incapacitation of the captain due to depressur...
41,2005-08-14,"Grammatikos, Greece",Helios Airways,Pressurization failure incapacitated the entir...

In [ ]:
IncendiosBodega=pd.read_html("http://www.planecrashinfo.com/CATCH.htm")
IncendiosBodega=IncendiosBodega[0].drop(0)
IncendiosBodega

,0,1,2,3
1,05/14/1923,"Amiens, Picrdie, France",Air Union,Possibly started by a passenger discarding a m...
2,05/07/1928,"Florianopolis, Brazil","Florianopolis, Brazil",In-flight fire.
3,03/28/1933,"Dixmude, Belgium",Imperial Airways,The fire was thought to have been started by a...
4,07/28/1937,"Hal, Belgium",KLM,Struck by lightning and after an in-flight fire.
5,08/06/1937,"Bistrita, Romania",Aeroflot,A passenger lit a cigarette in the rear toilet...
...,...,...,...,...
59,08/03/2008,Vancouver Island,Pacific Coastal Airlines,Electrical fire ignited spilt fuel.
60,08/06/2009,"Nganga Lingolo, Congo",Aero Fret Business,Fire in the rear of the plane.
61,04/21/2010,"Pampanga, Philippines",Interisland Airlines,Electrical fire.
62,09/03/2010,"Dubai, United Arab Emirates",United Parcel Service- UPS,Fire and smoke from the cargo area. Carrying l...
63,07/21/2011,"Off Jeju, South Korea",Asiana Airlines,Fire in the cargo hold.

In [ ]:
# Convertir fechas a formato fecha de la normalizacion del dataset accidentes.
IncendiosBodega[0] = pd.to_datetime(IncendiosBodega[0])
IncendiosBodega

,0,1,2,3
1,1923-05-14,"Amiens, Picrdie, France",Air Union,Possibly started by a passenger discarding a m...
2,1928-05-07,"Florianopolis, Brazil","Florianopolis, Brazil",In-flight fire.
3,1933-03-28,"Dixmude, Belgium",Imperial Airways,The fire was thought to have been started by a...
4,1937-07-28,"Hal, Belgium",KLM,Struck by lightning and after an in-flight fire.
5,1937-08-06,"Bistrita, Romania",Aeroflot,A passenger lit a cigarette in the rear toilet...
...,...,...,...,...
59,2008-08-03,Vancouver Island,Pacific Coastal Airlines,Electrical fire ignited spilt fuel.
60,2009-08-06,"Nganga Lingolo, Congo",Aero Fret Business,Fire in the rear of the plane.
61,2010-04-21,"Pampanga, Philippines",Interisland Airlines,Electrical fire.
62,2010-09-03,"Dubai, United Arab Emirates",United Parcel Service- UPS,Fire and smoke from the cargo area. Carrying l...
63,2011-07-21,"Off Jeju, South Korea",Asiana Airlines,Fire in the cargo hold.

In [ ]:
IncendiosBodega.columns=["Fecha","LugarAccidente","Operador","Resumen"] # Normalizar las columnas con las que ya se encuentran en el dataset.
IncendiosBodega

,Fecha,LugarAccidente,Operador,Resumen
1,1923-05-14,"Amiens, Picrdie, France",Air Union,Possibly started by a passenger discarding a m...
2,1928-05-07,"Florianopolis, Brazil","Florianopolis, Brazil",In-flight fire.
3,1933-03-28,"Dixmude, Belgium",Imperial Airways,The fire was thought to have been started by a...
4,1937-07-28,"Hal, Belgium",KLM,Struck by lightning and after an in-flight fire.
5,1937-08-06,"Bistrita, Romania",Aeroflot,A passenger lit a cigarette in the rear toilet...
...,...,...,...,...
59,2008-08-03,Vancouver Island,Pacific Coastal Airlines,Electrical fire ignited spilt fuel.
60,2009-08-06,"Nganga Lingolo, Congo",Aero Fret Business,Fire in the rear of the plane.
61,2010-04-21,"Pampanga, Philippines",Interisland Airlines,Electrical fire.
62,2010-09-03,"Dubai, United Arab Emirates",United Parcel Service- UPS,Fire and smoke from the cargo area. Carrying l...
63,2011-07-21,"Off Jeju, South Korea",Asiana Airlines,Fire in the cargo hold.

In [ ]:
DefectosDiseño=pd.read_html("http://www.planecrashinfo.com/CATDF.htm")
DefectosDiseño=DefectosDiseño[0].drop(0)
DefectosDiseño

,0,1,2,3
1,03/31/1931,"Bazaar, Kansas",Trans Cont. & West AW,"Aileron flutter, brought about by moisture lea..."
2,10/24/1947,"Bryce Canyon, Utah",United AL,Allowed vented fuel to be carried back into th...
3,11/11/1947,"Gallup, New Mexico",American AL,Allowed vented fuel to be carried back into th...
4,06/17/1948,"Mt. Carmel, Pennsylvania",United AL,Design flaw allowed carbon dioxide used to sup...
5,08/29/1948,"Winona, Minnesota",Northwest Orient AL,Loss of the outer panel of the left wing which...
6,01/10/1954,"Elba, Italy",British Overseas AW,Metal fatigue due to a design flaw.
7,04/08/1954,"Off Stromboli, Italy",Trans Canada AL,Metal fatigue due to a design flaw.
8,02/05/1955,"Calabar, Nigeria",West African AW,A design flaw in the wing led to fatigue crack...
9,09/29/1959,"Buffalo, Texas",Braniff AL,A design flaw caused an oscillation known as m...
10,03/17/1960,"Tell City, Indiana",Northwest Orient AL,A design flaw caused an oscillation known as m...
11,07/05/1970,"Toronto, Canada",Air Canada,Faulty design by allowing the spoiler handle t...
12,03/03/1974,"Ermenonville, France",Turkish AL,A defect in the latching mechanism on the carg...
13,07/06/1982,"Moscow, Russia",Aeroflot,Failure of the aircraft's power plant fire war...
14,02/24/1989,United Air Lines,"Honolulu, Hawaii",Poorly designed latching mechanism of cargo door.
15,04/06/1993,Over the Pacific Ocean,China Eastern AL,Inadequate design of flap/slat actuation handl...
16,03/03/1991,"Colorado Springs, Colorado",United AL,Uncommanded deflection of the rudder caused by...
17,04/06/1993,"Shemya, Alaska",China Eastern Airlines,Inadequate design of the flap/slat actuation h...
18,09/08/1994,"Aliquippa, Pennsylvania",USair,Uncommanded deflection of the rudder caused by...
19,10/31/1994,"Roselawn, Indiana",American Eagle,The design of the rubber de-icing boot was ins...
20,12/05/1997,"Irkutsk, Russia",Russian Air Force,Design flaw which led to uncoordinated operati...
21,10/29/2018,Off Jakarta Indonesia,Lion Air,Software design flaw. Boeing 737 Max8
22,08/10/2019,"Bishoftu, Ethiopia",Etiopian Airlines,Software design flaw. Boeing 737 Max8

In [ ]:
# Convertir fechas a formato fecha de la normalizacion del dataset accidentes.
DefectosDiseño[0] = pd.to_datetime(DefectosDiseño[0])
DefectosDiseño

,0,1,2,3
1,1931-03-31,"Bazaar, Kansas",Trans Cont. & West AW,"Aileron flutter, brought about by moisture lea..."
2,1947-10-24,"Bryce Canyon, Utah",United AL,Allowed vented fuel to be carried back into th...
3,1947-11-11,"Gallup, New Mexico",American AL,Allowed vented fuel to be carried back into th...
4,1948-06-17,"Mt. Carmel, Pennsylvania",United AL,Design flaw allowed carbon dioxide used to sup...
5,1948-08-29,"Winona, Minnesota",Northwest Orient AL,Loss of the outer panel of the left wing which...
6,1954-01-10,"Elba, Italy",British Overseas AW,Metal fatigue due to a design flaw.
7,1954-04-08,"Off Stromboli, Italy",Trans Canada AL,Metal fatigue due to a design flaw.
8,1955-02-05,"Calabar, Nigeria",West African AW,A design flaw in the wing led to fatigue crack...
9,1959-09-29,"Buffalo, Texas",Braniff AL,A design flaw caused an oscillation known as m...
10,1960-03-17,"Tell City, Indiana",Northwest Orient AL,A design flaw caused an oscillation known as m...
11,1970-07-05,"Toronto, Canada",Air Canada,Faulty design by allowing the spoiler handle t...
12,1974-03-03,"Ermenonville, France",Turkish AL,A defect in the latching mechanism on the carg...
13,1982-07-06,"Moscow, Russia",Aeroflot,Failure of the aircraft's power plant fire war...
14,1989-02-24,United Air Lines,"Honolulu, Hawaii",Poorly designed latching mechanism of cargo door.
15,1993-04-06,Over the Pacific Ocean,China Eastern AL,Inadequate design of flap/slat actuation handl...
16,1991-03-03,"Colorado Springs, Colorado",United AL,Uncommanded deflection of the rudder caused by...
17,1993-04-06,"Shemya, Alaska",China Eastern Airlines,Inadequate design of the flap/slat actuation h...
18,1994-09-08,"Aliquippa, Pennsylvania",USair,Uncommanded deflection of the rudder caused by...
19,1994-10-31,"Roselawn, Indiana",American Eagle,The design of the rubber de-icing boot was ins...
20,1997-12-05,"Irkutsk, Russia",Russian Air Force,Design flaw which led to uncoordinated operati...
21,2018-10-29,Off Jakarta Indonesia,Lion Air,Software design flaw. Boeing 737 Max8
22,2019-08-10,"Bishoftu, Ethiopia",Etiopian Airlines,Software design flaw. Boeing 737 Max8

In [ ]:
DefectosDiseño.columns=["Fecha","LugarAccidente","Operador","Resumen"] # Normalizar las columnas con las que ya se encuentran en el dataset.
DefectosDiseño

,Fecha,LugarAccidente,Operador,Resumen
1,1931-03-31,"Bazaar, Kansas",Trans Cont. & West AW,"Aileron flutter, brought about by moisture lea..."
2,1947-10-24,"Bryce Canyon, Utah",United AL,Allowed vented fuel to be carried back into th...
3,1947-11-11,"Gallup, New Mexico",American AL,Allowed vented fuel to be carried back into th...
4,1948-06-17,"Mt. Carmel, Pennsylvania",United AL,Design flaw allowed carbon dioxide used to sup...
5,1948-08-29,"Winona, Minnesota",Northwest Orient AL,Loss of the outer panel of the left wing which...
6,1954-01-10,"Elba, Italy",British Overseas AW,Metal fatigue due to a design flaw.
7,1954-04-08,"Off Stromboli, Italy",Trans Canada AL,Metal fatigue due to a design flaw.
8,1955-02-05,"Calabar, Nigeria",West African AW,A design flaw in the wing led to fatigue crack...
9,1959-09-29,"Buffalo, Texas",Braniff AL,A design flaw caused an oscillation known as m...
10,1960-03-17,"Tell City, Indiana",Northwest Orient AL,A design flaw caused an oscillation known as m...
11,1970-07-05,"Toronto, Canada",Air Canada,Faulty design by allowing the spoiler handle t...
12,1974-03-03,"Ermenonville, France",Turkish AL,A defect in the latching mechanism on the carg...
13,1982-07-06,"Moscow, Russia",Aeroflot,Failure of the aircraft's power plant fire war...
14,1989-02-24,United Air Lines,"Honolulu, Hawaii",Poorly designed latching mechanism of cargo door.
15,1993-04-06,Over the Pacific Ocean,China Eastern AL,Inadequate design of flap/slat actuation handl...
16,1991-03-03,"Colorado Springs, Colorado",United AL,Uncommanded deflection of the rudder caused by...
17,1993-04-06,"Shemya, Alaska",China Eastern Airlines,Inadequate design of the flap/slat actuation h...
18,1994-09-08,"Aliquippa, Pennsylvania",USair,Uncommanded deflection of the rudder caused by...
19,1994-10-31,"Roselawn, Indiana",American Eagle,The design of the rubber de-icing boot was ins...
20,1997-12-05,"Irkutsk, Russia",Russian Air Force,Design flaw which led to uncoordinated operati...
21,2018-10-29,Off Jakarta Indonesia,Lion Air,Software design flaw. Boeing 737 Max8
22,2019-08-10,"Bishoftu, Ethiopia",Etiopian Airlines,Software design flaw. Boeing 737 Max8

In [ ]:
FaltaCombustible=pd.read_html("http://www.planecrashinfo.com/CATFS.htm") # Se importa a través de Webscrapping datasets sobre accidentes por falta de combustible.
FaltaCombustible=FaltaCombustible[0].drop(0)
FaltaCombustible

,0,1,2,3
1,05/18/1935,Knowles Flying Service,"Flint, Michigan",Negligence on the pilot for not replenishing h...
2,12/31/1935,Imperial Airways,"Alexandria, Egypt",Ran out of fuel.
3,07/02/1937,"Lae, New Guinea",Purdue Res. Found.,The aircraft had to be flown higher than expec...
4,11/29/1938,"Off Point Reyes, Calif.",United Air Lines,Ran out of fuel forcing a ditching at sea.
5,02/09/1943,"Gander, Newfoundland",British Overseas AW,Ran out of fuel.
6,12/28/1946,"Michigan City, Michigan",American AL,Ran out of fuel for unknown reasons.
7,01/05/1947,"Carmel, New Jersey",Nationwide Air Trans.,Near fuel exhaustion forced the crew to carry ...
8,01/11/1947,"Lympne, England",BOAC,Ran out of fuel because of poor weather condit...
9,01/07/1948,"Savannah, Georgia",Coastal Air Lines,The fuel valves were positioned so that both e...
10,01/30/1948,Near Bermuda,British So. Am. AW,Ran into strong head winds in the Atlantic and...
11,08/15/1949,"Lurga Point, Ireland",Transocean Air Lines,Ran out of fuel and ditched in the Atlantic.
12,07/28/1950,"Porte Alegre, Brazil",Penair do Brasil,Ran out of fuel while in a holding pattern.
13,04/30/1952,"Delhi, India","Deccan, AW",Fuel starvation after the plane banked to make...
14,05/26/1952,"Atar, Mauritania",British Overseas AW,Became lost in the desert and ran out of fuel.
15,06/19/1954,"Folkestone, England",Swissair,Ditched into the Atlantic Ocean after running ...
16,12/22/1954,"Pittsburgh, Pennsylvania",Johnson Flying Service,Ditched into the Monongahela River after runni...
17,05/02/1970,"St. Croix, Virgin Islands",Antillian AL,Ran out of fuel and ditched into the Mediterra...
18,12/05/1970,"Delhi, India",Jamair,The No. 2 engine failed on takeoff due to fuel...
19,02/01/1972,"Tegal, Indonesia",Penas,Due to a compass error the aircraft became los...
20,07/24/1973,"Honolulu, HI",Air Hawaii,Fuel starvation. Rear auxiliary tanks not serv...
21,08/11/1974,"Ouagadougou, Upper Volta",Air Mali,After being diverted and a navigation error th...
22,10/20/1977,"Gillsburg, Mississippi",L & J Company,A malfunction in the No.2 engine caused a high...
23,12/02/1977,"Al Bayda, Lebanon",Balkan Bulgarian AL,"Because of fog, the crew could not find the al..."
24,12/28/1978,"Portland, Oregon",United AL,Ran out of fuel while the crew was distracted ...
25,09/04/1982,"Rio Branco, Brazil",Cia Bras. de Tratores,Ran out of fuel on the third approach in poor ...
26,07/23/1983,"Gimli, Manitoba, Canada",Air Canada,Accidentally used pounds/liter for the specifi...
27,09/03/1989,"Sao Jose do Xingu, Brazil",Varig,The crew flew in the wrong direction for two h...
28,01/25/1990,"Cove Neck, New York",Avianca,Put in series of holding patterns because of h...
29,09/11/1990,"Off Newfoundland, Canada",Faucett,Ran out of fuel and crashed into the Atlantic ...
30,06/26/1991,"Sokotu, Nigeria",Okada Air,"After circling for an hour, unable to locate t..."
31,11/15/1993,"Kerman, Iran",Magistralnye Avialinii,Ran out of fuel while in a holding pattern.
32,09/18/1994,"Tamanrasset, Algeria",Oriental AL,After circling for1 1/2 hours and aborting fou...
33,09/26/1994,"Vanavera, Russia",Cheremshanka AL,"After three landing attempts, the crew diverte..."
34,09/11/1995,"Jalalabad, Afghanistan",Ariana Afghan AL,Ran out of fuel.
35,10/31/1995,"Piedras Negras, Mexico",TACSA,Ran out of fuel trying to land in fog.
36,04/05/1996,"Petropavlovsk, Russia",Krasnoyarskie AV,Crashed into a mountain after running out of f...
37,01/13/1998,"Tor Kach, Pakistan",Ariana Afghan AL,Crashed into a mountain after being diverted t...
38,03/24/2000,"Kadirana, Sri Lanka",OMSK,"After 2 messages they were low on fuel, the pl..."
39,08/12/2001,"Lajes, Terceira, Azores",Air Transat,Improperly installed part caused a fuel leak a...
40,06/11/2002,"Winnipeg, Manitoba",Keystone Air Services,Ran out of fuel.
41,11/11/2002,"Manila, Philippines",Laoag Int. Airlines,Failure of the pilot and co-pilot to check the...
42,08/13/2004,"Cincinnati, Ohio",Air Tacoma,Flightcrew's failure to monitor the fuel gauge...
43,08/06/2005,"Off Palermo, Italy",Tuninter,The maintenance crew incorrectly installed a f...
44,11/28/2016,"La Union, Columbia",LAMIA Bolivia16,Took off without enough fuel.

In [ ]:
# Convertir fechas a formato fecha de la normalizacion del dataset accidentes.
FaltaCombustible[0] = pd.to_datetime(FaltaCombustible[0])
FaltaCombustible

,0,1,2,3
1,1935-05-18,Knowles Flying Service,"Flint, Michigan",Negligence on the pilot for not replenishing h...
2,1935-12-31,Imperial Airways,"Alexandria, Egypt",Ran out of fuel.
3,1937-07-02,"Lae, New Guinea",Purdue Res. Found.,The aircraft had to be flown higher than expec...
4,1938-11-29,"Off Point Reyes, Calif.",United Air Lines,Ran out of fuel forcing a ditching at sea.
5,1943-02-09,"Gander, Newfoundland",British Overseas AW,Ran out of fuel.
6,1946-12-28,"Michigan City, Michigan",American AL,Ran out of fuel for unknown reasons.
7,1947-01-05,"Carmel, New Jersey",Nationwide Air Trans.,Near fuel exhaustion forced the crew to carry ...
8,1947-01-11,"Lympne, England",BOAC,Ran out of fuel because of poor weather condit...
9,1948-01-07,"Savannah, Georgia",Coastal Air Lines,The fuel valves were positioned so that both e...
10,1948-01-30,Near Bermuda,British So. Am. AW,Ran into strong head winds in the Atlantic and...
11,1949-08-15,"Lurga Point, Ireland",Transocean Air Lines,Ran out of fuel and ditched in the Atlantic.
12,1950-07-28,"Porte Alegre, Brazil",Penair do Brasil,Ran out of fuel while in a holding pattern.
13,1952-04-30,"Delhi, India","Deccan, AW",Fuel starvation after the plane banked to make...
14,1952-05-26,"Atar, Mauritania",British Overseas AW,Became lost in the desert and ran out of fuel.
15,1954-06-19,"Folkestone, England",Swissair,Ditched into the Atlantic Ocean after running ...
16,1954-12-22,"Pittsburgh, Pennsylvania",Johnson Flying Service,Ditched into the Monongahela River after runni...
17,1970-05-02,"St. Croix, Virgin Islands",Antillian AL,Ran out of fuel and ditched into the Mediterra...
18,1970-12-05,"Delhi, India",Jamair,The No. 2 engine failed on takeoff due to fuel...
19,1972-02-01,"Tegal, Indonesia",Penas,Due to a compass error the aircraft became los...
20,1973-07-24,"Honolulu, HI",Air Hawaii,Fuel starvation. Rear auxiliary tanks not serv...
21,1974-08-11,"Ouagadougou, Upper Volta",Air Mali,After being diverted and a navigation error th...
22,1977-10-20,"Gillsburg, Mississippi",L & J Company,A malfunction in the No.2 engine caused a high...
23,1977-12-02,"Al Bayda, Lebanon",Balkan Bulgarian AL,"Because of fog, the crew could not find the al..."
24,1978-12-28,"Portland, Oregon",United AL,Ran out of fuel while the crew was distracted ...
25,1982-09-04,"Rio Branco, Brazil",Cia Bras. de Tratores,Ran out of fuel on the third approach in poor ...
26,1983-07-23,"Gimli, Manitoba, Canada",Air Canada,Accidentally used pounds/liter for the specifi...
27,1989-09-03,"Sao Jose do Xingu, Brazil",Varig,The crew flew in the wrong direction for two h...
28,1990-01-25,"Cove Neck, New York",Avianca,Put in series of holding patterns because of h...
29,1990-09-11,"Off Newfoundland, Canada",Faucett,Ran out of fuel and crashed into the Atlantic ...
30,1991-06-26,"Sokotu, Nigeria",Okada Air,"After circling for an hour, unable to locate t..."
31,1993-11-15,"Kerman, Iran",Magistralnye Avialinii,Ran out of fuel while in a holding pattern.
32,1994-09-18,"Tamanrasset, Algeria",Oriental AL,After circling for1 1/2 hours and aborting fou...
33,1994-09-26,"Vanavera, Russia",Cheremshanka AL,"After three landing attempts, the crew diverte..."
34,1995-09-11,"Jalalabad, Afghanistan",Ariana Afghan AL,Ran out of fuel.
35,1995-10-31,"Piedras Negras, Mexico",TACSA,Ran out of fuel trying to land in fog.
36,1996-04-05,"Petropavlovsk, Russia",Krasnoyarskie AV,Crashed into a mountain after running out of f...
37,1998-01-13,"Tor Kach, Pakistan",Ariana Afghan AL,Crashed into a mountain after being diverted t...
38,2000-03-24,"Kadirana, Sri Lanka",OMSK,"After 2 messages they were low on fuel, the pl..."
39,2001-08-12,"Lajes, Terceira, Azores",Air Transat,Improperly installed part caused a fuel leak a...
40,2002-06-11,"Winnipeg, Manitoba",Keystone Air Services,Ran out of fuel.
41,2002-11-11,"Manila, Philippines",Laoag Int. Airlines,Failure of the pilot and co-pilot to check the...
42,2004-08-13,"Cincinnati, Ohio",Air Tacoma,Flightcrew's failure to monitor the fuel gauge...
43,2005-08-06,"Off Palermo, Italy",Tuninter,The maintenance crew incorrectly installed a f...
44,2016-11-28,"La Union, Columbia",LAMIA Bolivia16,Took off without enough fuel.

In [ ]:
FaltaCombustible.columns=["Fecha","LugarAccidente","Operador","Resumen"] # Normalizar las columnas con las que ya se encuentran en el dataset.
FaltaCombustible

,Fecha,LugarAccidente,Operador,Resumen
1,1935-05-18,Knowles Flying Service,"Flint, Michigan",Negligence on the pilot for not replenishing h...
2,1935-12-31,Imperial Airways,"Alexandria, Egypt",Ran out of fuel.
3,1937-07-02,"Lae, New Guinea",Purdue Res. Found.,The aircraft had to be flown higher than expec...
4,1938-11-29,"Off Point Reyes, Calif.",United Air Lines,Ran out of fuel forcing a ditching at sea.
5,1943-02-09,"Gander, Newfoundland",British Overseas AW,Ran out of fuel.
6,1946-12-28,"Michigan City, Michigan",American AL,Ran out of fuel for unknown reasons.
7,1947-01-05,"Carmel, New Jersey",Nationwide Air Trans.,Near fuel exhaustion forced the crew to carry ...
8,1947-01-11,"Lympne, England",BOAC,Ran out of fuel because of poor weather condit...
9,1948-01-07,"Savannah, Georgia",Coastal Air Lines,The fuel valves were positioned so that both e...
10,1948-01-30,Near Bermuda,British So. Am. AW,Ran into strong head winds in the Atlantic and...
11,1949-08-15,"Lurga Point, Ireland",Transocean Air Lines,Ran out of fuel and ditched in the Atlantic.
12,1950-07-28,"Porte Alegre, Brazil",Penair do Brasil,Ran out of fuel while in a holding pattern.
13,1952-04-30,"Delhi, India","Deccan, AW",Fuel starvation after the plane banked to make...
14,1952-05-26,"Atar, Mauritania",British Overseas AW,Became lost in the desert and ran out of fuel.
15,1954-06-19,"Folkestone, England",Swissair,Ditched into the Atlantic Ocean after running ...
16,1954-12-22,"Pittsburgh, Pennsylvania",Johnson Flying Service,Ditched into the Monongahela River after runni...
17,1970-05-02,"St. Croix, Virgin Islands",Antillian AL,Ran out of fuel and ditched into the Mediterra...
18,1970-12-05,"Delhi, India",Jamair,The No. 2 engine failed on takeoff due to fuel...
19,1972-02-01,"Tegal, Indonesia",Penas,Due to a compass error the aircraft became los...
20,1973-07-24,"Honolulu, HI",Air Hawaii,Fuel starvation. Rear auxiliary tanks not serv...
21,1974-08-11,"Ouagadougou, Upper Volta",Air Mali,After being diverted and a navigation error th...
22,1977-10-20,"Gillsburg, Mississippi",L & J Company,A malfunction in the No.2 engine caused a high...
23,1977-12-02,"Al Bayda, Lebanon",Balkan Bulgarian AL,"Because of fog, the crew could not find the al..."
24,1978-12-28,"Portland, Oregon",United AL,Ran out of fuel while the crew was distracted ...
25,1982-09-04,"Rio Branco, Brazil",Cia Bras. de Tratores,Ran out of fuel on the third approach in poor ...
26,1983-07-23,"Gimli, Manitoba, Canada",Air Canada,Accidentally used pounds/liter for the specifi...
27,1989-09-03,"Sao Jose do Xingu, Brazil",Varig,The crew flew in the wrong direction for two h...
28,1990-01-25,"Cove Neck, New York",Avianca,Put in series of holding patterns because of h...
29,1990-09-11,"Off Newfoundland, Canada",Faucett,Ran out of fuel and crashed into the Atlantic ...
30,1991-06-26,"Sokotu, Nigeria",Okada Air,"After circling for an hour, unable to locate t..."
31,1993-11-15,"Kerman, Iran",Magistralnye Avialinii,Ran out of fuel while in a holding pattern.
32,1994-09-18,"Tamanrasset, Algeria",Oriental AL,After circling for1 1/2 hours and aborting fou...
33,1994-09-26,"Vanavera, Russia",Cheremshanka AL,"After three landing attempts, the crew diverte..."
34,1995-09-11,"Jalalabad, Afghanistan",Ariana Afghan AL,Ran out of fuel.
35,1995-10-31,"Piedras Negras, Mexico",TACSA,Ran out of fuel trying to land in fog.
36,1996-04-05,"Petropavlovsk, Russia",Krasnoyarskie AV,Crashed into a mountain after running out of f...
37,1998-01-13,"Tor Kach, Pakistan",Ariana Afghan AL,Crashed into a mountain after being diverted t...
38,2000-03-24,"Kadirana, Sri Lanka",OMSK,"After 2 messages they were low on fuel, the pl..."
39,2001-08-12,"Lajes, Terceira, Azores",Air Transat,Improperly installed part caused a fuel leak a...
40,2002-06-11,"Winnipeg, Manitoba",Keystone Air Services,Ran out of fuel.
41,2002-11-11,"Manila, Philippines",Laoag Int. Airlines,Failure of the pilot and co-pilot to check the...
42,2004-08-13,"Cincinnati, Ohio",Air Tacoma,Flightcrew's failure to monitor the fuel gauge...
43,2005-08-06,"Off Palermo, Italy",Tuninter,The maintenance crew incorrectly installed a f...
44,2016-11-28,"La Union, Columbia",LAMIA Bolivia16,Took off without enough fuel.

In [ ]:
Relampagos=pd.read_html("http://www.planecrashinfo.com/CATL.htm")
Relampagos=Relampagos[0].drop(0)
Relampagos

,0,1,2,3
1,09/03/1929,"Mt. Taylor, New Mexico",Trans Con. Air Transport,Struck by lightning during a thunderstorm.
2,07/28/1937,"Hal, Belgium",KLM Royal Dutch Airlines,Crashed into a potato field after possibly bei...
3,07/22/1938,"Stulpica, Romania",LOT,Struck by lightning.
4,08/31/1940,"Lovettsville, Virginia",Penn Central AL,Disabled pilots by a severe lightning discharg...
5,09/27/1946,"Rio Doce, Brazil",Panair do Brasil,Crashed into a mountainside after being possib...
6,05/13/1949,"Novosibirsk, Russia",Aeroflot,Crashed after penetrating a thunderstorm and l...
7,01/17/1951,"Civitavecchia, Italy",Alitalia,Lightning ignited mixture of air and fuel fume...
8,09/07/1951,"Kazakh, Russia",Aeroflot,The aircraft crashed shortly after being struc...
9,06/26/1959,"Varese, Italy",Trans World AL,Ignition of gasoline vapors emanating from the...
10,07/19/1961,"Azul, Brazil",Aerolineas Argentinas,Stuck by lightning and extreme turbulence.
11,12/19/1962,"Warsaw, Poland",LOT,Stalled after being struck by lightning.
12,08/12/1963,"Lyon, France",Air Inter,Possibility of a flash of lightning dazzling t...
13,12/08/1963,"Elkton, Maryland",Pan American AW,Lightning induced ignition of fuel tank vapors.
14,04/18/1967,"Zarand, Iran",Iranian Air Force,Crashed after being struck by lightning.
15,12/24/1971,"Puerto Inca, Peru",Lineas Aereas Nac.,Lightning caused a fire which led to the separ...
16,05/09/1976,"Madrid, Spain",Iran Air Force,Lightning caused an explosion in the No. 1 fue...
17,09/05/1980,"Montelimar, France",Kuwait Air Force,Struck by lightning.
18,02/08/1988,"Mulheim, Germany",NFD,Struck by lightning and suffered a complete el...
19,08/09/1995,"San Vincente, El Salvador",Aviateca,Possible damage to the aircraft's DME due to l...
20,06/22/2000,"Shitai, China",Wuhan AL,Struck by lightning causing the plane to explo...
21,10/10/2001,"Off Valencia, Spain",Flightline,Electrical power was lost following a lightnin...
22,12/27/2002,"Anjouan, Comoros Islands",Ocean Airlines,Struck by lightning causing loss of artificial...

In [ ]:
# Convertir fechas a formato fecha de la normalizacion del dataset accidentes.
Relampagos[0] = pd.to_datetime(Relampagos[0])
Relampagos

,0,1,2,3
1,1929-09-03,"Mt. Taylor, New Mexico",Trans Con. Air Transport,Struck by lightning during a thunderstorm.
2,1937-07-28,"Hal, Belgium",KLM Royal Dutch Airlines,Crashed into a potato field after possibly bei...
3,1938-07-22,"Stulpica, Romania",LOT,Struck by lightning.
4,1940-08-31,"Lovettsville, Virginia",Penn Central AL,Disabled pilots by a severe lightning discharg...
5,1946-09-27,"Rio Doce, Brazil",Panair do Brasil,Crashed into a mountainside after being possib...
6,1949-05-13,"Novosibirsk, Russia",Aeroflot,Crashed after penetrating a thunderstorm and l...
7,1951-01-17,"Civitavecchia, Italy",Alitalia,Lightning ignited mixture of air and fuel fume...
8,1951-09-07,"Kazakh, Russia",Aeroflot,The aircraft crashed shortly after being struc...
9,1959-06-26,"Varese, Italy",Trans World AL,Ignition of gasoline vapors emanating from the...
10,1961-07-19,"Azul, Brazil",Aerolineas Argentinas,Stuck by lightning and extreme turbulence.
11,1962-12-19,"Warsaw, Poland",LOT,Stalled after being struck by lightning.
12,1963-08-12,"Lyon, France",Air Inter,Possibility of a flash of lightning dazzling t...
13,1963-12-08,"Elkton, Maryland",Pan American AW,Lightning induced ignition of fuel tank vapors.
14,1967-04-18,"Zarand, Iran",Iranian Air Force,Crashed after being struck by lightning.
15,1971-12-24,"Puerto Inca, Peru",Lineas Aereas Nac.,Lightning caused a fire which led to the separ...
16,1976-05-09,"Madrid, Spain",Iran Air Force,Lightning caused an explosion in the No. 1 fue...
17,1980-09-05,"Montelimar, France",Kuwait Air Force,Struck by lightning.
18,1988-02-08,"Mulheim, Germany",NFD,Struck by lightning and suffered a complete el...
19,1995-08-09,"San Vincente, El Salvador",Aviateca,Possible damage to the aircraft's DME due to l...
20,2000-06-22,"Shitai, China",Wuhan AL,Struck by lightning causing the plane to explo...
21,2001-10-10,"Off Valencia, Spain",Flightline,Electrical power was lost following a lightnin...
22,2002-12-27,"Anjouan, Comoros Islands",Ocean Airlines,Struck by lightning causing loss of artificial...

In [ ]:
Relampagos.columns=["Fecha","LugarAccidente","Operador","Resumen"] # Normalizar las columnas con las que ya se encuentran en el dataset.
Relampagos

,Fecha,LugarAccidente,Operador,Resumen
1,1929-09-03,"Mt. Taylor, New Mexico",Trans Con. Air Transport,Struck by lightning during a thunderstorm.
2,1937-07-28,"Hal, Belgium",KLM Royal Dutch Airlines,Crashed into a potato field after possibly bei...
3,1938-07-22,"Stulpica, Romania",LOT,Struck by lightning.
4,1940-08-31,"Lovettsville, Virginia",Penn Central AL,Disabled pilots by a severe lightning discharg...
5,1946-09-27,"Rio Doce, Brazil",Panair do Brasil,Crashed into a mountainside after being possib...
6,1949-05-13,"Novosibirsk, Russia",Aeroflot,Crashed after penetrating a thunderstorm and l...
7,1951-01-17,"Civitavecchia, Italy",Alitalia,Lightning ignited mixture of air and fuel fume...
8,1951-09-07,"Kazakh, Russia",Aeroflot,The aircraft crashed shortly after being struc...
9,1959-06-26,"Varese, Italy",Trans World AL,Ignition of gasoline vapors emanating from the...
10,1961-07-19,"Azul, Brazil",Aerolineas Argentinas,Stuck by lightning and extreme turbulence.
11,1962-12-19,"Warsaw, Poland",LOT,Stalled after being struck by lightning.
12,1963-08-12,"Lyon, France",Air Inter,Possibility of a flash of lightning dazzling t...
13,1963-12-08,"Elkton, Maryland",Pan American AW,Lightning induced ignition of fuel tank vapors.
14,1967-04-18,"Zarand, Iran",Iranian Air Force,Crashed after being struck by lightning.
15,1971-12-24,"Puerto Inca, Peru",Lineas Aereas Nac.,Lightning caused a fire which led to the separ...
16,1976-05-09,"Madrid, Spain",Iran Air Force,Lightning caused an explosion in the No. 1 fue...
17,1980-09-05,"Montelimar, France",Kuwait Air Force,Struck by lightning.
18,1988-02-08,"Mulheim, Germany",NFD,Struck by lightning and suffered a complete el...
19,1995-08-09,"San Vincente, El Salvador",Aviateca,Possible damage to the aircraft's DME due to l...
20,2000-06-22,"Shitai, China",Wuhan AL,Struck by lightning causing the plane to explo...
21,2001-10-10,"Off Valencia, Spain",Flightline,Electrical power was lost following a lightnin...
22,2002-12-27,"Anjouan, Comoros Islands",Ocean Airlines,Struck by lightning causing loss of artificial...

In [ ]:
IncapacitacionPiloto=pd.read_html("http://www.planecrashinfo.com/CATPI.htm")
IncapacitacionPiloto=IncapacitacionPiloto[0].drop(0)
IncapacitacionPiloto

,0,1,2,3
1,10/25/1948,"Georgian SSR, USSR",Aerflot,Crew drank alcohol before the flight.
2,10/06/1955,"Centennial, Wyoming",United AL,Incapacitation of crew by carbon monoxide eman...
3,10/30/1959,"Waynesborough, Virginia",Piedmont AL,Mental breakdown of captain during flight.
4,01/03/1961,"Koivulahti, Finland",Finnair,Both pilots tested positive for alcohol.
5,12/14/1962,"Burbank, California",Flying Tiger Line,Incapacitation of the captain with a heart att...
6,04/22/1966,"Ardmore, Oklahoma",American Flyers AL,Incapacitation of the captain with a heart att...
7,12/24/1966,"Cascubel River, Colombia",AVIANCA,Consuming alcohol shortly before the flight.
8,03/13/1967,"East London, South Africa",South African AW,The captain suffered a heart attack and first ...
9,01/14/1970,"Mt. Pumacona, Peru",Faucett,The mental state of the pilot adversely affect...
10,06/18/1972,"Staines, Surrey, England",British European AW,Incapacitation of the captain due to a possibl...
11,10/13/1972,"Krasnaya, Polyana, USSR",Aeroflot,Sudden incapacitation of the crew for reasons ...
12,02/09/1982,"Tokyo, Japan",Japan AL,"The captain, known to have mental problems, pu..."
13,08/28/1986,"Texarkana, Arkansas",Southwest Airlift,Alcohol impairment of the pilot and co-pilot.
14,04/19/1991,"Nuka Hiva, French Polynesia",Air Tahiti,The crew's performance may have been impacted ...
15,03/31/1995,"Balotesti, Romania",Trans. Aeriene Rom.,The captain was incapacitated shortly after ta...
16,09/04/2000,"Near Burketown, Australia",Central Air,Incapacitation of the captain due to depressur...
17,08/14/2005,"Grammatikos, Greece",Helios Airways,Pressurization failure incapacitated the entir...

In [ ]:
# Convertir fechas a formato fecha de la normalizacion del dataset accidentes.
IncapacitacionPiloto[0] = pd.to_datetime(IncapacitacionPiloto[0])
IncapacitacionPiloto

,0,1,2,3
1,1948-10-25,"Georgian SSR, USSR",Aerflot,Crew drank alcohol before the flight.
2,1955-10-06,"Centennial, Wyoming",United AL,Incapacitation of crew by carbon monoxide eman...
3,1959-10-30,"Waynesborough, Virginia",Piedmont AL,Mental breakdown of captain during flight.
4,1961-01-03,"Koivulahti, Finland",Finnair,Both pilots tested positive for alcohol.
5,1962-12-14,"Burbank, California",Flying Tiger Line,Incapacitation of the captain with a heart att...
6,1966-04-22,"Ardmore, Oklahoma",American Flyers AL,Incapacitation of the captain with a heart att...
7,1966-12-24,"Cascubel River, Colombia",AVIANCA,Consuming alcohol shortly before the flight.
8,1967-03-13,"East London, South Africa",South African AW,The captain suffered a heart attack and first ...
9,1970-01-14,"Mt. Pumacona, Peru",Faucett,The mental state of the pilot adversely affect...
10,1972-06-18,"Staines, Surrey, England",British European AW,Incapacitation of the captain due to a possibl...
11,1972-10-13,"Krasnaya, Polyana, USSR",Aeroflot,Sudden incapacitation of the crew for reasons ...
12,1982-02-09,"Tokyo, Japan",Japan AL,"The captain, known to have mental problems, pu..."
13,1986-08-28,"Texarkana, Arkansas",Southwest Airlift,Alcohol impairment of the pilot and co-pilot.
14,1991-04-19,"Nuka Hiva, French Polynesia",Air Tahiti,The crew's performance may have been impacted ...
15,1995-03-31,"Balotesti, Romania",Trans. Aeriene Rom.,The captain was incapacitated shortly after ta...
16,2000-09-04,"Near Burketown, Australia",Central Air,Incapacitation of the captain due to depressur...
17,2005-08-14,"Grammatikos, Greece",Helios Airways,Pressurization failure incapacitated the entir...

In [ ]:
IncapacitacionPiloto.columns=["Fecha","LugarAccidente","Operador","Resumen"] # Normalizar las columnas con las que ya se encuentran en el dataset.
IncapacitacionPiloto

,Fecha,LugarAccidente,Operador,Resumen
1,1948-10-25,"Georgian SSR, USSR",Aerflot,Crew drank alcohol before the flight.
2,1955-10-06,"Centennial, Wyoming",United AL,Incapacitation of crew by carbon monoxide eman...
3,1959-10-30,"Waynesborough, Virginia",Piedmont AL,Mental breakdown of captain during flight.
4,1961-01-03,"Koivulahti, Finland",Finnair,Both pilots tested positive for alcohol.
5,1962-12-14,"Burbank, California",Flying Tiger Line,Incapacitation of the captain with a heart att...
6,1966-04-22,"Ardmore, Oklahoma",American Flyers AL,Incapacitation of the captain with a heart att...
7,1966-12-24,"Cascubel River, Colombia",AVIANCA,Consuming alcohol shortly before the flight.
8,1967-03-13,"East London, South Africa",South African AW,The captain suffered a heart attack and first ...
9,1970-01-14,"Mt. Pumacona, Peru",Faucett,The mental state of the pilot adversely affect...
10,1972-06-18,"Staines, Surrey, England",British European AW,Incapacitation of the captain due to a possibl...
11,1972-10-13,"Krasnaya, Polyana, USSR",Aeroflot,Sudden incapacitation of the crew for reasons ...
12,1982-02-09,"Tokyo, Japan",Japan AL,"The captain, known to have mental problems, pu..."
13,1986-08-28,"Texarkana, Arkansas",Southwest Airlift,Alcohol impairment of the pilot and co-pilot.
14,1991-04-19,"Nuka Hiva, French Polynesia",Air Tahiti,The crew's performance may have been impacted ...
15,1995-03-31,"Balotesti, Romania",Trans. Aeriene Rom.,The captain was incapacitated shortly after ta...
16,2000-09-04,"Near Burketown, Australia",Central Air,Incapacitation of the captain due to depressur...
17,2005-08-14,"Grammatikos, Greece",Helios Airways,Pressurization failure incapacitated the entir...

In [ ]:
Secuestro=pd.read_html("http://www.planecrashinfo.com/CATS.htm")
Secuestro=Secuestro[1].dropna().drop(0)
Secuestro

,0,1,2,3
1,03/28/1933,"Dixmude, Belgium",Imperial AW,Fire started by a passenger in an attempt to c...
2,1939 - 1945,-,-,Numerous passenger planes shot down during WWII.
3,07/16/1948,Pacific Ocean,Cathay Pacific AW,Crashed after being hijacked and losing contro...
5,05/07/1949,"Sibuyan Sea, Philippines",Philippine AL,Bomb placed aboard to kill the husband of a wo...
6,09/09/1949,"Sault-aux-Cochons, Canada",Canadian Pacific AL,Dynamite bomb placed aboard by husband to coll...
...,...,...,...,...
113,07/17/2014,"Hrabove, Ukraine",Malaysia Airlines,Shot down.
114,03/24/2015,"Digne-Les-Bains, Fran",Germanwings,Pilot deliberately flew the plane into the gro...
115,10/31/2015,"Hasna, Egypt",Metrojet,Brought down by a homemade explosive device in...
116,02/02/2016,"Mogadishu, Somalia",Daallo Airlines,Detonation of a bomb containing TNT. One sucke...
117,01/08/2020,Shahiiah. Ukraine,Ukrain Inter Airlines,Shot down by Iran's Revolutionary Guard.

In [ ]:
Secuestro.drop(2,axis=0,inplace=True) # Se elimina la segunda fila ya que indica que durante el período de guerra (entre 1939-1945) muchos aviones de pasajeros fueron derribados, pero sin mas datos.

In [ ]:
Secuestro.head(60)

,0,1,2,3
1,03/28/1933,"Dixmude, Belgium",Imperial AW,Fire started by a passenger in an attempt to c...
3,07/16/1948,Pacific Ocean,Cathay Pacific AW,Crashed after being hijacked and losing contro...
5,05/07/1949,"Sibuyan Sea, Philippines",Philippine AL,Bomb placed aboard to kill the husband of a wo...
6,09/09/1949,"Sault-aux-Cochons, Canada",Canadian Pacific AL,Dynamite bomb placed aboard by husband to coll...
7,04/13/1950,British European Airways,British European Airways,A bomb blew a 8 ft. by 4 ft. hole in the fusel...
8,08/12/1952,"Palmeria de Goias, Brazil",Trans Aero Nac.,A bomb exploded aboard killing everyone aboard.
9,1952 - 1954,-,-,Numerous passenger planes shot down during the...
10,04/11/1955,"Great Natuna Island, Sarawak",Air India,An aircraft worker placed an incendiary device...
11,07/27/1955,"Near Petrich, Bulgaria",El Al,Shot down by a Bulgarian fighter jet.
12,11/01/1955,"Longmont, Colorado",United AL,Jack Graham placed a bomb aboard to collect in...
13,07/25/1957,"Daggett, California",Western AL,Jeweler Saul Binstock detonated a bomb in lava...
14,11/01/1958,"Nipe Bay, Cuba",Cubana,Crashed after being hijacked and running out o...
15,04/17/1959,"Puerto Kino,Mexico",Tigres Voladores,A bomb is believed to have exploded onboard.
16,06/01/1959,Aerolineas Nacionales,Nicaragua,Shot down by a Nicaraguan Air Force fighter.
17,09/08/1959,"Poza Rica, Mexico",Mexicana,"A passenger, who was believed to have been car..."
18,11/16/1959,Gulf of Mexico,National AL,Explosion of a bomb aboard was strongly suspec...
19,01/06/1960,"Bolivia, North Carolina",National AL,A passenger detonated a dynamite bomb under hi...
20,04/28/1960,"Calabozo, Venezuela",Linea Aeropostal Venezolana,Detonation of a hand-grenade brought aboard by...
21,05/10/1961,"In Amenas, Libya",Air France,Detonation of a nitrocellulose bomb.
22,05/22/1962,"Unionville, Missouri",Continental AL,Detonation of a dynamite bomb in the right rea...
23,05/07/1964,"San Ramon, California",Pacific AL,"Francisco Gonzales, a passenger, shot both the..."
24,12/08/1964,"Tripuani, Bolivia",Aerolineas Abaroa,Detonation of a bomb in the tail section. A su...
25,07/08/1965,"Dog Creek, British Columbia",Canadian Pacific AL,A bomb exploded in the cabin. Acid and gunpowd...
26,1965 - 1970,-,-,Numerous passenger planes shot down during the...
27,11/22/1966,"Aden, Yemen",Aden AW,Detonation of an explosive device placed in ha...
28,02/09/1967,"Mexico City, Mexico",Cubana,Crashed due to bomb explosion.
29,10/12/1967,"Rhodes, Greece",British European AW,Destroyed by a detonation of a bomb within the...
30,12/22/1969,"Nha Trang, Vietnam",Air Vietnam,An explosive device was detonated in the cabin...
31,02/21/1970,"Zurich, Switzerland",Swissair,A bomb with an altimeter trigger was believed ...
32,04/21/1970,"Manila, Philippines",Philippine AL,Crashed into mountainous terrain after an expl...
33,06/02/1970,"Roxas, Philippines",Philippine AL,A hand grenade exploded inside the passenger c...
34,01/23/1971,Korean Air Lines,"Sokcho, South Korea",A hijacker detonated grenades he was carrying.
35,10/10/1971,"Moscow, Russia",Aeroflot,A TNT explosive device had been placed between...
36,11/21/1971,"Penhu Island, Taiwan",China AL,Detonation of an explosive device.
37,12/06/1971,"Tikaka, Sudan",Sudan AW,Hijacked and ran out of fuel.
38,01/26/1972,"Hermsdorf, Czechoslovakia",JAT,Detonation of a bomb in the forward cargo hold.
39,06/15/1972,"Pleiku, Vietnam",Cathay Pacific AW,Detonation of an explosive device in the passe...
40,10/02/1972,"Kampot, Cambodia",Cambodia Air,Shot down by a mortar shell while approaching ...
41,02/21/1973,"Near Isma'iliya, Egypt",Libya Arab Airlines,Shot down by Israeli Phantom fighters.
42,03/19/1973,"Ben Me Thout, South Vietnam",Air Vietnam,Crashed after an explosion in the cargo hold.
43,05/18/1973,"Chita, Siberia, USSR",Aeroflot,Detonation of a bomb in the cabin being carrie...
44,12/17/1973,"Rome, Italy",Pan American AW,Two phosphorus bombs were thrown into the airc...
45,09/15/1974,"Phan Rang, Vietnam",Air Vietnam,Detonation of two hand grenades in the passeng...
46,06/03/1975,"Manila, Philippines",Philippine Air Lines,A bomb exploded in the right rear lavatory cau...
47,01/01/1976,"Al Qaysumah, Saudi Arabia",Middle East AL,Detonation of an explosive device in the forwa...
48,05/23/1976,"Zamboanga, Philipines",Philippine Air Lines,A hijacker set off grenades in the cabin.
49,06/27/1976,"Entebbe, Uganda",Air France,Seven passengers were killed during a commando...
50,08/28/1976,"Ho Chi Minh City, Vietnam",Air France,A hijacker set off two grenades in the cabin a...
51,10/06/1976,"Bridgetown, Barbados",Cubana,Detonation of an explosive device in the aft o...
52,12/04/1977,"Kampung Ladang, Malaysia",Malaysia AL,Hijacked with both pilots shot.
53,09/03/1978,"Kariba, Rhodesia",Air Rhodesia,Shot down with surface-to-air missile.
54,02/12/1979,"Kariba, Rhodesia",Air Rhodesia,Shot down with surface-to-air missle
55,02/19/1979,"Barentu, Ethiopia",Ethiopian Airlines,Crashed after a bomb exploded aboard.
56,11/15/1979,"Chicago, Illinois",American Airlines,An explosive device detonated in the baggage c...
57,06/27/1980,"Tyrrhenian Sea, Italy",Itavia,An explosive device aboard the aircraft causin...
58,12/21/1980,"Rio Hacha, Colombia",Trans. Aereos del Caribe,Explosion possibly caused by a bomb placed in ...
59,05/16/1981,"Menongue, Angola",TAAG Angola Airlines,Shot down by a surface-to-air missile.
60,08/11/1982,Pacific Ocean,Pan American,A sixteen-year-old boy was killed when a bomb ...
61,11/08/1983,"Lubango, Huila, Angola",TAAG Angola Airlines,Shot down by rebels with a surface to air miss...
62,09/23/1983,"Mina Jebel Ali, UAE",Gulf Air,Detonation of an explosive device in the bagga...

In [ ]:
Secuestro.drop(9,axis=0,inplace=True) # Se elimina la fila con numero 9 por situacion similar a la anterior.

In [ ]:
Secuestro.drop(26,axis=0,inplace=True) # Se elimina la fila con numero 26 por situacion similar a las anteriores.

In [ ]:
Secuestro.drop(63,axis=0,inplace=True) # Se elimina la fila con numero 63 por situacion similar a las anteriores.

In [ ]:
# Convertir fechas a formato fecha de la normalizacion del dataset accidentes.
Secuestro[0] = pd.to_datetime(Secuestro[0])
Secuestro

,0,1,2,3
1,1933-03-28,"Dixmude, Belgium",Imperial AW,Fire started by a passenger in an attempt to c...
3,1948-07-16,Pacific Ocean,Cathay Pacific AW,Crashed after being hijacked and losing contro...
5,1949-05-07,"Sibuyan Sea, Philippines",Philippine AL,Bomb placed aboard to kill the husband of a wo...
6,1949-09-09,"Sault-aux-Cochons, Canada",Canadian Pacific AL,Dynamite bomb placed aboard by husband to coll...
7,1950-04-13,British European Airways,British European Airways,A bomb blew a 8 ft. by 4 ft. hole in the fusel...
...,...,...,...,...
113,2014-07-17,"Hrabove, Ukraine",Malaysia Airlines,Shot down.
114,2015-03-24,"Digne-Les-Bains, Fran",Germanwings,Pilot deliberately flew the plane into the gro...
115,2015-10-31,"Hasna, Egypt",Metrojet,Brought down by a homemade explosive device in...
116,2016-02-02,"Mogadishu, Somalia",Daallo Airlines,Detonation of a bomb containing TNT. One sucke...
117,2020-01-08,Shahiiah. Ukraine,Ukrain Inter Airlines,Shot down by Iran's Revolutionary Guard.

In [ ]:
Secuestro.columns=["Fecha","LugarAccidente","Operador","Resumen"] # Normalizar las columnas con las que ya se encuentran en el dataset.
Secuestro

,Fecha,LugarAccidente,Operador,Resumen
1,1933-03-28,"Dixmude, Belgium",Imperial AW,Fire started by a passenger in an attempt to c...
3,1948-07-16,Pacific Ocean,Cathay Pacific AW,Crashed after being hijacked and losing contro...
5,1949-05-07,"Sibuyan Sea, Philippines",Philippine AL,Bomb placed aboard to kill the husband of a wo...
6,1949-09-09,"Sault-aux-Cochons, Canada",Canadian Pacific AL,Dynamite bomb placed aboard by husband to coll...
7,1950-04-13,British European Airways,British European Airways,A bomb blew a 8 ft. by 4 ft. hole in the fusel...
...,...,...,...,...
113,2014-07-17,"Hrabove, Ukraine",Malaysia Airlines,Shot down.
114,2015-03-24,"Digne-Les-Bains, Fran",Germanwings,Pilot deliberately flew the plane into the gro...
115,2015-10-31,"Hasna, Egypt",Metrojet,Brought down by a homemade explosive device in...
116,2016-02-02,"Mogadishu, Somalia",Daallo Airlines,Detonation of a bomb containing TNT. One sucke...
117,2020-01-08,Shahiiah. Ukraine,Ukrain Inter Airlines,Shot down by Iran's Revolutionary Guard.

In [8]:
Estadistica=pd.read_html("http://www.planecrashinfo.com/cause.htm")
Estadistica=Estadistica[3]
Estadistica

,0,1,2,3,4,5,6,7,8
0,CAUSES OF FATAL ACCIDENTS BY DECADE,CAUSES OF FATAL ACCIDENTS BY DECADE,CAUSES OF FATAL ACCIDENTS BY DECADE,CAUSES OF FATAL ACCIDENTS BY DECADE,CAUSES OF FATAL ACCIDENTS BY DECADE,CAUSES OF FATAL ACCIDENTS BY DECADE,CAUSES OF FATAL ACCIDENTS BY DECADE,CAUSES OF FATAL ACCIDENTS BY DECADE,CAUSES OF FATAL ACCIDENTS BY DECADE
1,DECADE,1950s,1960s,1970s,1980s,1990s,2000s,2010s,All
2,Pilot Error,50%,53%,49%,42%,49%,50%,57%,49%
3,Mechanical,26%,27%,19%,22%,22%,23%,21%,23%
4,Weather,15%,7%,10%,14%,7%,8%,10%,10%
5,Sabotage,4%,4%,9%,12%,8%,9%,8%,8%
6,Other,5%,9%,13%,10%,14%,10%,4%,10%

In [9]:
Estadistica.to_csv("Estadistica.csv",index=False)

In [ ]:
ErroresControl

,Fecha,LugarAccidente,Operador,Resumen
1,1947-06-13,"Leesburg, Virginia",Pennsylvania AL,A contributing cause was the faulty clearance ...
2,1948-05-22,"Khabarovsk, Russia",Aeroflot,ATC error.
3,1949-11-01,"Arlington, Virginia",Eastern Air Lines,ATC error.
4,1952-10-05,"Skvoritsy, Russia",Aeroflot,Midair collision with a TC-62 aircraft. ATC er...
5,1958-04-14,"Castel de Fels, Spain",Aviaco,Another aircraft was permitted to takeoff with...
6,1961-07-21,"Shemya, Alaska",Alaska AL,Lack of guidance from air traffic controller d...
7,1965-02-08,"New York, New York",Eastern AL,Placement of the two aircraft on a near head o...
8,1967-03-09,"Urbana, Ohio",Trans World Airlines,ATC systems inadequate to separate controlled ...
9,1969-03-05,"San Juan, Puerto Rico",Prinair,A trainee vectored the aircraft into mountaino...
10,1969-09-09,"Fairland, Indiana",Allegheny AL,Inadequate VFR separation and deficiencies in ...
11,1970-02-06,"Samarkand, USSR",Aeroflot,Misidentification of aircraft by the ATC causi...
12,1971-09-17,Balkan Bulgarian AL,"Rila mountain, Bulgaria",The ATC confused the aircraft with another Tur...
13,1971-12-04,"Raleigh, North Carolina",Eastern AL,Inadequacy of ATC facilities and services in t...
14,1972-01-04,"Plovdiv, Bulgaria",Balkan Bulgarian AL,"While on approach, the aircraft flew into a mo..."
15,1972-05-04,"Bratsk, Russia",Aeroflot,ATC error. Current weather was not passed on t...
16,1972-12-20,"Chicago, Illinois",Delta/North Central,The ATC gave ambiguous instructions to the crew.
17,1973-07-31,"Boston, Massachusetts",Delta Air Lines,Poor positioning of the aircraft for an approa...
18,1974-12-01,"Berryville, Virginia",Trans World Airlines,Lack of clarity in ATC procedures.
19,1975-03-20,"Quilcene, Washington",U.S. Air Force,Faulty clearance by the ATC after misidentifyi...
20,1974-12-04,"Irkutsk, Russia",Aeroflot,"ATC error, negligence in operations. Midair co..."
21,1976-09-09,"Adler, Russia",Aeroflot / Aeroflot,Violation of separation rules.
22,1976-09-10,"Hrvatska, Yugoslavia",Inex Adria Aviopromet / British Airways,"ATC error, negligence in operations. Midair co..."
23,1978-02-11,"Cranbrook, BC",Pacific Western AL,Estimated time of arrival given by Calgary ATC...
24,1979-08-11,"Dneprodzerzhinsk, USSR",Aeroflot,Separation error by the ATC causing a midair c...
25,1979-09-14,"Sarroch, Italy",Aero Transporti Italiani,Inadequate ATC assistance.
26,1981-08-24,"Zavitinsk, Russia",Russian Air Force,Poor communication between civilian and milita...
27,1983-04-11,"Leninakan, Russia",Aeroflot,ATC procedural error in not identifying the pl...
28,1983-04-19,"Keninakan, Russia",Aeroflot,ATC procedural error in not identifying the pl...
29,1987-03-06,Aeroflot,"Almaty, Kazakhstan",The ATC didn't monitor the plane for at least ...
30,1989-02-18,"Kuala Lumpur, Malaysia",Flying Tiger AL,Non-standard phraseology used by Kuala Lumpur ...
31,1991-02-01,"Los Angeles, California",USAir/Skywest,ATC cleared a plane to land while the runway w...
32,1992-01-20,"Strasbourg, France",Air Inter,The plane was slightly off course due to ATC e...
33,1995-09-22,"Ancorage, Alaska",U.S. Air Force,ATC did not worn about birds in the area.
34,1996-11-07,"Lagos, Nigeria",Aviation Dev. Corp.,The controller thought he had cleared to aircr...
35,1997-09-26,"Buah Nabar, Indonesia",Garuda Indonesian AL,ATC error in directing the plane in the wrong ...
36,1999-11-12,"Pristina, Kosovo",UN Charter,Improper tracking by the military ATC.
37,2000-10-25,"Batumi,Georgia",Russian Air Force,ATC error.
38,2002-07-01,"Uberlinger, Germany",Bashkirian AL / DHL,Conflicting information give to pilot by ATC a...
39,1995-03-31,"Balotesti, Romania",Trans. Aeriene Rom.,The captain was incapacitated shortly after ta...
40,2000-09-04,"Near Burketown, Australia",Central Air,Incapacitation of the captain due to depressur...
41,2005-08-14,"Grammatikos, Greece",Helios Airways,Pressurization failure incapacitated the entir...

In [ ]:
accidentes["Fecha"].loc[accidentes["Fecha"]=="	1948-05-22	"] # Encontrar las fechas en las que más accidentes hubo.

1045   1948-05-22
Name: Fecha, dtype: datetime64[ns]

In [ ]:
accidentes.iloc[1045]

Fecha                                                 1948-05-22 00:00:00
HoraDeclarada                                                        1840
LugarAccidente                                         Khabarovsk, Russia
Operador                                                         Aeroflot
NroVuelo                                                         SinDatos
Ruta                                   Petropavlovsk-Kamchatsky - Magadan
TipoAvion                                                    Douglas C-47
Matricula                                                      CCCP-L1073
NroSerie                                                      17054/34321
TotalaBordo                                                             9
PasajerosABordo                                                         5
TripulacionaBordo                                                       4
CantidadFallecidos                                                      8
PasajerosFallecidos                                                     4
TripulacionFallecida                                                    4
MuertesIndirectas                                                       0
Resumen                 The aircraft collided with the western slope o...
Anio                                                                 1948
Mes                                                                     5
Name: 1045, dtype: object

In [17]:
PeoresDesastresAviacion=pd.read_html("http://planecrashinfo.com/worst100.htm")
PeoresDesastresAviacion=PeoresDesastresAviacion[0].drop(0,axis=0).drop(0,axis=1)
PeoresDesastresAviacion

,1,2,3,4,5,6,7
1,2907*,09/11/2001,"New York City, New York",American /United Airlines,11/93,B767 / B767,NaN
2,583,03/27/1977,"Tenerife, Canary Islands",Pan Am / KLM,1736/4805,B747 / B747,NaN
3,520,08/12/1985,"Mt. Osutaka, Japan",Japan Air Lines,123,B747,NaN
4,349,11/12/1996,"New Delhi, India",Saudi / Kazastan,763/1907,B747 / Il76,NaN
5,346,03/03/1974,"Bois d' Ermenonville, France",Turkish Airlines,981,DC10,NaN
...,...,...,...,...,...,...,...
97,137,06/08/1982,"Near Pacatuba, Brazil",VASP,168,B727,NaN
98,135,08/02/1985,"Ft. Worth-Dallas, Texas",Delta Air Lines,191,L1011,NaN
99,134,12/16/1960,"Staten Island/Brooklyn, New York",United Air Lines / TWA,826/266,DC8 / L1049,NaN
100,133,02/04/1966,"Tokyo Bay, Japan",All Nippon Airways,60,B727,NaN
101,133,02/08/1993,"Tehran, Iran",Iran Air/Air Force,-,TU154M,NaN

In [18]:
PeoresDesastresAviacion.drop(columns=[6],inplace=True) # Se elimina la columna 6 correspondiente a tipo.

In [19]:
PeoresDesastresAviacion.drop(columns=[7],inplace=True) # Se elimina la columna 7 que contiene fotos y por ende se trasladan como nulos (Nan).

In [20]:
PeoresDesastresAviacion[1].replace(to_replace="2907*", value=2907 ,inplace=True) # Reemplazar el numero con "*", ya que en la página es una referencia 
PeoresDesastresAviacion                                                          # que incluye  ambos vuelos estrellados en las Torres Gemelas

,1,2,3,4,5
1,2907,09/11/2001,"New York City, New York",American /United Airlines,11/93
2,583,03/27/1977,"Tenerife, Canary Islands",Pan Am / KLM,1736/4805
3,520,08/12/1985,"Mt. Osutaka, Japan",Japan Air Lines,123
4,349,11/12/1996,"New Delhi, India",Saudi / Kazastan,763/1907
5,346,03/03/1974,"Bois d' Ermenonville, France",Turkish Airlines,981
...,...,...,...,...,...
97,137,06/08/1982,"Near Pacatuba, Brazil",VASP,168
98,135,08/02/1985,"Ft. Worth-Dallas, Texas",Delta Air Lines,191
99,134,12/16/1960,"Staten Island/Brooklyn, New York",United Air Lines / TWA,826/266
100,133,02/04/1966,"Tokyo Bay, Japan",All Nippon Airways,60
101,133,02/08/1993,"Tehran, Iran",Iran Air/Air Force,-

In [21]:
# Convertir fechas a formato fecha de la normalizacion del dataset accidentes.
PeoresDesastresAviacion[2] = pd.to_datetime(PeoresDesastresAviacion[2])
PeoresDesastresAviacion

,1,2,3,4,5
1,2907,2001-09-11,"New York City, New York",American /United Airlines,11/93
2,583,1977-03-27,"Tenerife, Canary Islands",Pan Am / KLM,1736/4805
3,520,1985-08-12,"Mt. Osutaka, Japan",Japan Air Lines,123
4,349,1996-11-12,"New Delhi, India",Saudi / Kazastan,763/1907
5,346,1974-03-03,"Bois d' Ermenonville, France",Turkish Airlines,981
...,...,...,...,...,...
97,137,1982-06-08,"Near Pacatuba, Brazil",VASP,168
98,135,1985-08-02,"Ft. Worth-Dallas, Texas",Delta Air Lines,191
99,134,1960-12-16,"Staten Island/Brooklyn, New York",United Air Lines / TWA,826/266
100,133,1966-02-04,"Tokyo Bay, Japan",All Nippon Airways,60
101,133,1993-02-08,"Tehran, Iran",Iran Air/Air Force,-

In [22]:
PeoresDesastresAviacion.columns=["VictimasFatales","Fecha","LugarAccidente","Operador","NroVuelo"] # Normalizar las columnas con las que ya se encuentran en el dataset.
PeoresDesastresAviacion

,VictimasFatales,Fecha,LugarAccidente,Operador,NroVuelo
1,2907,2001-09-11,"New York City, New York",American /United Airlines,11/93
2,583,1977-03-27,"Tenerife, Canary Islands",Pan Am / KLM,1736/4805
3,520,1985-08-12,"Mt. Osutaka, Japan",Japan Air Lines,123
4,349,1996-11-12,"New Delhi, India",Saudi / Kazastan,763/1907
5,346,1974-03-03,"Bois d' Ermenonville, France",Turkish Airlines,981
...,...,...,...,...,...
97,137,1982-06-08,"Near Pacatuba, Brazil",VASP,168
98,135,1985-08-02,"Ft. Worth-Dallas, Texas",Delta Air Lines,191
99,134,1960-12-16,"Staten Island/Brooklyn, New York",United Air Lines / TWA,826/266
100,133,1966-02-04,"Tokyo Bay, Japan",All Nippon Airways,60
101,133,1993-02-08,"Tehran, Iran",Iran Air/Air Force,-

In [23]:
PeoresDesastresAviacion=PeoresDesastresAviacion.head(10)

In [24]:
PeoresDesastresAviacion["Causas"]=["Atentado","Colisión","Falla Mecanica / Humana","Colisión","Falla Mecanica / Humana","Atentado",
                        "Falla Mecanica / Humana","Derribado","Derribado","En duda"]

C:\Users\Usuario\AppData\Local\Temp\ipykernel_7488\356612602.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PeoresDesastresAviacion["Causas"]=["Atentado","Colisión","Falla Mecanica / Humana","Colisión","Falla Mecanica / Humana","Atentado",

In [25]:
PeoresDesastresAviacion

,VictimasFatales,Fecha,LugarAccidente,Operador,NroVuelo,Causas
1,2907,2001-09-11,"New York City, New York",American /United Airlines,11/93,Atentado
2,583,1977-03-27,"Tenerife, Canary Islands",Pan Am / KLM,1736/4805,Colisión
3,520,1985-08-12,"Mt. Osutaka, Japan",Japan Air Lines,123,Falla Mecanica / Humana
4,349,1996-11-12,"New Delhi, India",Saudi / Kazastan,763/1907,Colisión
5,346,1974-03-03,"Bois d' Ermenonville, France",Turkish Airlines,981,Falla Mecanica / Humana
6,329,1985-06-23,Atlantic Ocean West of Ireland,Air India,182,Atentado
7,301,1980-08-19,"Riyadh, Saudi Arabia",Saudi Arabian Airlines,163,Falla Mecanica / Humana
8,298,2014-07-17,"Hrabove, Ukraine",Malaysia Airlines,17,Derribado
9,290,1988-07-03,Persian Gulf,Iran Air,655,Derribado
10,275,2003-02-19,"Shahdad, Iran",Islamic Revolution's Guards Co.,-,En duda

In [12]:
AccidentesExtraños=pd.read_html("http://planecrashinfo.com/unusual.htm")
AccidentesExtraños=AccidentesExtraños[0]
AccidentesExtraños

,0,1,2,3
0,03/28/1933,Imperial Airways Armstrong Argosy II,"Dixmude, Belgium","A fire, possibly started by a passenger attemp..."
1,10/10/1933,United Air Lines Boeing 247,"Chesterton, Indiana",The aircraft was destroyed by an explosive dev...
2,02/09/1937,United Air Lines DC-3,"San Francisco, California",The co-pilot dropped his microphone which jamm...
3,07/28/1945,U.S. Army B-25,"New York City, New York",A U.S. Army Air Force B-25 crashed into the 79...
4,08/02/1947,Brit So Am. Airways Avro Lancastrain,"Andes, Argentina","Wreckage of the plane was found on January 19,..."
...,...,...,...,...
68,08/24/2001,Air Transat Airbus A-330,"Terceira, Azores","The Airbus 330, without engine power, glided f..."
69,08/14/2005,Helios Airways,"Grammatikos, Greece","The aircraft crashed in Greece, killing all 12..."
70,08/27/2006,Comair Canadair CRJ-200ER,"Lexington, Kentucky",The plane took off from the wrong runway that ...
71,01/15/2009,"New York, NY",USAir,The plane was taking off from La Guardia Airpo...
72,08/25/2010,Filair,"Bandundu, Congo Democratic Republic",A passenger brought aboard a crocodile hidden ...

In [13]:
AccidentesExtraños=AccidentesExtraños.iloc[:5] # Se achica el dataset.

In [14]:
AccidentesExtraños["Causa"]=["Suicidio de Pasajero","Atentado / Bomba","Atascamiento de controles por caida inadvertida de micrófono","Omisión de consejos del Piloto",
                            "Vuelo desaparecido, encontrado 53 años después"] # Se crea una columna con las causas de los accidentes.

C:\Users\Usuario\AppData\Local\Temp\ipykernel_8276\4133289671.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AccidentesExtraños["Causa"]=["Suicidio de Pasajero","Atentado / Bomba","Atascamiento de controles por caida inadvertida de micrófono","Omisión de consejos del Piloto",

In [15]:
# Convertir fechas a formato fecha de la normalizacion del dataset accidentes.
AccidentesExtraños[0] = pd.to_datetime(AccidentesExtraños[0])
AccidentesExtraños

C:\Users\Usuario\AppData\Local\Temp\ipykernel_8276\907724501.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AccidentesExtraños[0] = pd.to_datetime(AccidentesExtraños[0])

,0,1,2,3,Causa
0,1933-03-28,Imperial Airways Armstrong Argosy II,"Dixmude, Belgium","A fire, possibly started by a passenger attemp...",Suicidio de Pasajero
1,1933-10-10,United Air Lines Boeing 247,"Chesterton, Indiana",The aircraft was destroyed by an explosive dev...,Atentado / Bomba
2,1937-02-09,United Air Lines DC-3,"San Francisco, California",The co-pilot dropped his microphone which jamm...,Atascamiento de controles por caida inadvertid...
3,1945-07-28,U.S. Army B-25,"New York City, New York",A U.S. Army Air Force B-25 crashed into the 79...,Omisión de consejos del Piloto
4,1947-08-02,Brit So Am. Airways Avro Lancastrain,"Andes, Argentina","Wreckage of the plane was found on January 19,...","Vuelo desaparecido, encontrado 53 años después"

In [16]:
AccidentesExtraños.columns=["Fecha","Operador","LugarAccidente","Comentarios","Causa"] # Normalizar las columnas con las que ya se encuentran en el dataset.
AccidentesExtraños

,Fecha,Operador,LugarAccidente,Comentarios,Causa
0,1933-03-28,Imperial Airways Armstrong Argosy II,"Dixmude, Belgium","A fire, possibly started by a passenger attemp...",Suicidio de Pasajero
1,1933-10-10,United Air Lines Boeing 247,"Chesterton, Indiana",The aircraft was destroyed by an explosive dev...,Atentado / Bomba
2,1937-02-09,United Air Lines DC-3,"San Francisco, California",The co-pilot dropped his microphone which jamm...,Atascamiento de controles por caida inadvertid...
3,1945-07-28,U.S. Army B-25,"New York City, New York",A U.S. Army Air Force B-25 crashed into the 79...,Omisión de consejos del Piloto
4,1947-08-02,Brit So Am. Airways Avro Lancastrain,"Andes, Argentina","Wreckage of the plane was found on January 19,...","Vuelo desaparecido, encontrado 53 años después"

In [17]:
AccidentesExtraños["VictimasFatales"]=[15,7,11,14,11]

C:\Users\Usuario\AppData\Local\Temp\ipykernel_8276\973986653.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  AccidentesExtraños["VictimasFatales"]=[15,7,11,14,11]

In [18]:
AccidentesExtraños

,Fecha,Operador,LugarAccidente,Comentarios,Causa,VictimasFatales
0,1933-03-28,Imperial Airways Armstrong Argosy II,"Dixmude, Belgium","A fire, possibly started by a passenger attemp...",Suicidio de Pasajero,15
1,1933-10-10,United Air Lines Boeing 247,"Chesterton, Indiana",The aircraft was destroyed by an explosive dev...,Atentado / Bomba,7
2,1937-02-09,United Air Lines DC-3,"San Francisco, California",The co-pilot dropped his microphone which jamm...,Atascamiento de controles por caida inadvertid...,11
3,1945-07-28,U.S. Army B-25,"New York City, New York",A U.S. Army Air Force B-25 crashed into the 79...,Omisión de consejos del Piloto,14
4,1947-08-02,Brit So Am. Airways Avro Lancastrain,"Andes, Argentina","Wreckage of the plane was found on January 19,...","Vuelo desaparecido, encontrado 53 años después",11

In [86]:
accidentes.to_csv("Accidentes.csv",index=False) # Exportar a csv dataset "Accidentes"

In [26]:
PeoresDesastresAviacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 1 to 10
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   VictimasFatales  10 non-null     object
 1   Fecha            10 non-null     datetime64[ns]
 2   LugarAccidente   10 non-null     object
 3   Operador         10 non-null     object
 4   NroVuelo         10 non-null     object
 5   Causas           10 non-null     object
dtypes: datetime64[ns](1), object(5)
memory usage: 612.0+ bytes

In [27]:
PeoresDesastresAviacion["VictimasFatales"]=PeoresDesastresAviacion["VictimasFatales"].astype(dtype=int,copy=False,errors="raise") # Pasar tipo de dato a integer.

C:\Users\Usuario\AppData\Local\Temp\ipykernel_7488\3032069964.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PeoresDesastresAviacion["VictimasFatales"]=PeoresDesastresAviacion["VictimasFatales"].astype(dtype=int,copy=False,errors="raise") # Pasar tipo de dato a integer.

In [28]:
PeoresDesastresAviacion.to_csv("PeoresAccidentes.csv")

In [20]:
AccidentesExtraños.to_csv("AccidentesExtranios.csv",index=False)